[2013-08-02 17:55] sckott opened #1 "Add ability to get any number of results"
NOAA API uses paging, but no argument for number of results. So we can get page number 1, 2, or 3, etc. up to however many are found for the query. Add in logic to loop through pages found if user wants all data or some subset.

[2013-08-02 19:13] sckott opened #2 "Finish off the many combos of url paths for function noaa"
those with a `# done` are already done, see paths of bottom of file `noaa.r`

[2013-08-09 22:29] #2 closed, assigned to sckott

[2013-08-13 04:26] emhart opened #3 "Add native search to functions returning long lists of data."
Currently output from functions like `noaa_datatypes()` return raw lists of data.  We should enhance these by returning data frames and adding a search parameter that lets  users filter results.

[2013-08-13 20:48] #1 closed, assigned to emhart

[2013-09-05 16:30] sckott opened #4 "Looks like there is more data available via API"
http://www.ncdc.noaa.gov/cdo-web/webservices/ncdcwebservices

[2013-10-17 16:54] sckott opened #5 "NOAA coming out with new API, v2"
http://www.ncdc.noaa.gov/cdo-web/webservices/v2

[2013-10-17 17:22] cboettig opened #6 "Just climate data?"
The repository description says climate data, but I believe there's quite a lot of fisheries data available through NOAA as well?  For instance, this CalCofi data set (recently highlighted in Nature as one of few long term stock assessment surveys available) is supposed to soon accessible at this RESTful API: http://coastwatch.pfeg.noaa.gov/erddap/rest.html

[2013-11-07 15:03] sckott opened #7 "Add Severe Weather Data Inventory endpoint"
Docs: http://www.ncdc.noaa.gov/swdiws/
Eg, call in XML: http://www.ncdc.noaa.gov/swdiws/xml/nx3tvs/20060505:20060506
in CSV: http://www.ncdc.noaa.gov/swdiws/csv/nx3tvs/20060505:20060506

[2013-11-07 15:50] sckott opened #8 "USDA cropland data"
Docs: http://www.nass.usda.gov/research/Cropland/docs/WebService.html

Terrible docs, and terrible API. A call gives you another url, which you then have to call to get the data. Then the JSON is not formed properly - ummmmmmm, wow.

For example, this call: http://nassgeodata.gmu.edu:8080/axis2/services/CDLService/GetCDLComp?year1=2008&year2=2009&fips=19003%2C19029&format=json

Gives you back this

[2013-11-07 17:06] sckott opened #9 "Earthquakes?"
API: http://www.seismicportal.eu/servicesDoc/search-event.html

E.g. call: http://www.seismicportal.eu/services/event/search?latMin=46.5&latMax=47&lonMin=6&lonMax=7&limit=10

[2013-11-12 16:51] sckott opened #10 "Perhaps remove noaa_data function"
It doesn't do much, basically just indexes to the data, which is already a nice data.frame format

[2013-11-12 17:29] sckott opened #11 "Vectorize functions where possible"
The NOAA API only accepts single args when doing e..g, `http://www.ncdc.noaa.gov/cdo-web/api/v2/datasets/ANNUAL`, so make function accept multiple e.g, `datasetid=c('ANNUAL', 'ETC')`

You can pass in multiple e.g., `stationid's` after the question mark, e..g, `http://www.ncdc.noaa.gov/cdo-web/api/v2/datasets?stationid=COOP:310090&stationid=COOP:310184&stationid=COOP:310212`

[2013-11-26 00:34] #3 closed, assigned to emhart

[2013-11-26 00:35] #10 closed, assigned to sckott

[2013-11-28 18:21] #11 closed, assigned to sckott

[2013-11-28 18:23] sckott opened #14 "Functions for coercing multiple outputs of a single function call to a combined output"
E.g.,

Join two calls to get raw data using `noaa()` to a single data.frame.

[2013-11-28 18:23] sckott opened #15 "Coerce function output to plots when makes sense"

[2013-11-29 01:45] #14 closed, assigned to sckott

[2013-11-29 01:47] sckott opened #16 "NOAA API calls are often quite slow"
Not sure why the NOAA API is so slow, even when only requesting a tiny bit of data. Got to be problem on the server side.

[2013-11-29 05:58] sckott opened #17 "Add raincpc pkg as data source in rnoaa?"
https://github.com/RationShop/raincpc, it's also on CRAN, so that's good

[2013-12-03 18:27] sckott opened #18 "Include help for attributes data"
See here for docs http://www.ncdc.noaa.gov/cdo-web/datasets

[2013-12-03 19:31] sckott opened #19 "Figure out workflow to avoid timeouts in API calls"
Brian said in #5

Also, we may even want to enforce having a `startdate` and `enddate` to avoid these timeouts for users.

[2013-12-03 19:32] #5 closed, assigned to nobody

[2013-12-04 23:57] sckott opened #21 "Notes from chat"
To be dealt with

+ plotting functions , need to add
+ ~~climate-wna ? doing interpolation with climate data~~
	+ ~~link http://www.climatewna.com/~~
+ ~~climate anamoly maps -
	+ ~~we could calculate these on our own, looks like NOAA produces these as maps only~~
+ harmonic analysis
+ http://www.pacificclimate.org/tools-and-data/climatewna
+ http://www.cpc.ncep.noaa.gov/products/tanal/temp_analys

[2013-12-07 00:28] sckott opened #22 "Figure out if new functions from Adam duplicate existing functionality"
From the pull request https://github.com/ropensci/rnoaa/pull/20

[2014-02-27 19:41] emhart opened #23 "reproject seaice data"
add parameter to change import projection for shapefiles in sea ice data.

[2014-02-27 20:02] sckott opened #24 "Make a vignette that's just a workflow"
NOAA is kind of confusing as to how you go about getting data. There's not really a search function, so you have to have all these details about stations, data type/data category ids, etc.

So starting with

or

Then show how they would go about doing that.

[2014-02-28 16:11] #8 closed, assigned to nobody

[2014-03-05 15:17] sckott opened #25 "Interpolation"
`RNCEP` package looks to have some interpolation functions, like `NCEP.interp.gaussian`, `NCEP.interp.pressure`, and `NCEP.interp.surface`.  Can we reuse their code in rnoaa?

thoughts @emhart

[2014-03-06 02:46] dlebauer opened #26 "How do I use the NOAA API?"
I was able to obtain an api key

How do I use it?

[2014-03-06 03:05] #26 closed, assigned to nobody

[2014-03-06 03:38] dlebauer opened #28 "query data by latitude and longitude? noaa_loc_search deprecated?"
In this documentation: http://ropensci.org/packages/rnoaa.html

There is an example where sites can be queried with latitude and longitude:

[code]

However, this function does not appear to be in the repository. Am I missing something? Is there an alternative way to start with latitude and longitude coordinates?

[2014-03-07 19:04] karthik opened #29 "Fix travis build issues?"
Thanks to @sckott's nice [hack](https://github.com/ropensci/rgbif/blob/master/.travis.yml#L7) we can get around issues with rgdal etc. Maybe use that fix to get Travis to pass things here and SPOCC too?

[2014-03-08 01:57] #29 closed, assigned to nobody

[2014-03-11 19:51] sckott opened #30 "Change att element in some functions to meta to match"

[2014-03-11 20:41] #28 closed, assigned to nobody

[2014-03-11 20:42] #30 closed, assigned to sckott

[2014-03-13 22:19] sckott opened #31 "wonder if we can get to this data via API"
http://icoads.noaa.gov/products.html

[2014-03-14 23:22] sckott opened #32 "Add documentation for the attributes data"
There are docs on each dataset here http://www.ncdc.noaa.gov/cdo-web/datasets

e..g for the GHCND dataset http://www1.ncdc.noaa.gov/pub/data/cdo/documentation/GHCND_documentation.pdf

Put some easily understandable docs in the package for attributes

[2014-03-14 23:24] sckott opened #33 "Possibly split apart attributes"
Right now is returned in the resulting `data.frame` like `T,,G,`. These are row specific though, so probably shouldl stay in the data.frame. Maybe break these out into separate columns. see related #32

[2014-03-16 14:41] #16 closed, assigned to nobody

[2014-03-16 15:57] #18 closed, assigned to sckott

[2014-03-17 20:08] #7 closed, assigned to nobody

[2014-03-19 05:05] sckott opened #34 "Parse data separately after content call"

[2014-03-19 15:34] #34 closed, assigned to sckott

[2014-04-22 16:42] karthik opened #35 "Cannot connect noaa"
Moving an issue from email to here.

[2014-05-02 22:09] #35 closed, assigned to nobody

[2014-05-03 15:32] sckott opened #36 "Getting 429 codes on Travis checks"
E.g., https://travis-ci.org/ropensci/rnoaa#L1776

This never happens locally. And there's no info the NOAA website. Perhaps there is a rate limit per minute or hour. I could do `Sleep` in between tests I guess

[2014-05-03 18:30] #31 closed, assigned to nobody

[2014-05-04 05:52] #33 closed, assigned to sckott

[2014-05-13 22:29] #36 closed, assigned to nobody

[2014-05-14 18:27] sckott opened #37 "Add buoy data"
http://www.ndbc.noaa.gov/

[2014-05-15 18:30] sckott opened #38 "Vignette for ERDDAP data"
Make it :cactus:

[2014-05-15 18:33] sckott opened #39 "ERDDAP - try to give ranges of possible values for each parameter"
...for each dataset

Given back in the detailed `/info` calls, but currenlty not included in the brief `variables` slot

[2014-05-15 21:03] #39 closed, assigned to nobody

[2014-05-15 23:16] sckott opened #40 "s/stop_for_status/warn_for_status"
Better for users, will have to make sure what's given back is reasonable too

[2014-05-16 00:34] #40 closed, assigned to sckott

[2014-05-20 16:14] sckott opened #41 "Rate limit is apparently 5/sec"
See https://travis-ci.org/ropensci/rnoaa#L2063

Doesn't make sense to force a wait time I think. Just warn users about this.

For tests, make sure tests are no more frequent than 5/sec

[2014-05-20 20:06] #41 closed, assigned to nobody

[2014-06-06 14:28] sckott opened #42 "rnomads package"
http://cran.r-project.org/web/packages/rNOMADS/index.html

Something to keep in mind. Looks like the data it works with is all different from what we work with in this repo

[2014-06-17 17:37] iembry-USGS opened #43 "Update rnoaa tutorial with information on new API"
Hi, can you update the rnoaa tutorial (http://ropensci.org/tutorials/rnoaa_tutorial.html) with the new API information?

Currently, the tutorial examples fail with this error message:

Error in getOption("noaakey", stop("you need an API key NOAA data")) :
  you need an API key NOAA data

Thank you.

[2014-06-17 19:23] #43 closed, assigned to nobody

[2014-07-03 00:48] #38 closed, assigned to nobody

[2014-07-03 06:52] sckott opened #44 "Add vignette for Sever weather data inventory in the package"
fxn `noaa_swdi`

[2014-07-03 06:53] sckott opened #45 "Add vignette for seaice data in the package"
fxn `noaa_seaice`

[2014-07-03 07:11] #44 closed, assigned to nobody

[2014-07-03 08:00] #45 closed, assigned to nobody

[2014-07-04 01:50] sckott opened #46 "Perhaps a new object to hold all metadata for station(s)"
E.g., with a new S3 class `noaastation`, it could hold slots for stationid, datasetid, datatypes, datacategories, etc.

This seems like we could do this with reference classes, or S4. hmmmm

The problem that creates this question is that a user likely wants to get data on multiple stations, but each station has different datasetids, types, etc.,

[2014-07-09 06:52] sckott opened #47 "data/ endpoint with a new `includemetadata` param"
http://www.ncdc.noaa.gov/cdo-web/webservices/v2#data

[2014-07-09 07:06] #47 closed, assigned to sckott

[2014-07-09 07:17] #42 closed, assigned to nobody

[2014-07-19 00:27] #6 closed, assigned to nobody

[2014-07-19 05:46] #24 closed, assigned to sckott

[2014-07-19 05:46] #37 closed, assigned to nobody

[2014-07-20 18:03] #32 closed, assigned to sckott

[2014-07-20 18:14] sckott opened #49 "Change fxn names to match services"

[2014-07-20 22:35] #49 closed, assigned to sckott

[2014-08-01 00:09] sckott opened #50 "New potential data sources to check out"
http://opendap.co-ops.nos.noaa.gov/axis/

[2014-08-22 18:35] sckott opened #51 "Problem for some users with ERDDAP"
see email thread...

[2014-09-22 17:46] sckott opened #52 "Include functionality like that in rgbif to easily parse out rows of data based on issues"
Not sure if this makes sense yet, but with the data

[code]

The data issue columns on the end may be used to filter data after pulled down...

[2014-09-23 22:41] sckott opened #53 "Possible new data types to wrap"
atmospheric data

ftp://ftp.cmdl.noaa.gov/

[2014-10-08 16:06] sckott opened #54 "(ISD) Integrated surface database data"
http://www.ncdc.noaa.gov/oa/climate/isd/index.php

[2014-10-09 14:28] sckott opened #55 "Bathymetric data"
Just noticed via a SO question that `marmap` package gets NOAA bathymetric data, see `getNOAA.bathy` - maybe we should get this data too?

[2014-10-09 19:09] sckott opened #56 "tornado data"
From http://myweb.fsu.edu/jelsner/PDF/Research/ElsnerElsnerJagger2014.pdf

http://spc.noaa.gov/gis/svrgis/zipped/tornado.zip

...add?

[2014-10-09 19:12] sckott opened #57 "Windstorm data?"
mentioned in http://www.magesblog.com/2014/10/visualising-seasonality-of-atlantic.html

http://www.ncdc.noaa.gov/ibtracs/index.php?name=wmo-data

[2014-10-09 19:13] sckott opened #58 "Add any other data from the NOAA SPC (storm prediction center)"
http://www.spc.noaa.gov/

[2014-10-10 03:22] #9 closed, assigned to nobody

[2014-10-10 03:23] #17 closed, assigned to sckott

[2014-10-10 07:02] #4 closed, assigned to nobody

[2014-10-10 07:12] sckott opened #59 "HOMR API"
http://www.ncdc.noaa.gov/homr/api

[2014-10-13 17:27] amirkav opened #60 "RCurl multi handle throwing error"
Thanks for this very useful R Package!

When a R process is interrupted in the middle of an API call while a handle is open, the handle is not properly closed before the next API call, resulting in the following error:

Error in function (type, msg, asError = TRUE)  :
  easy handled already used in multi handle

This is a known issue (https://github.com/hadley/httr/issues/112), but I think it can

[2014-10-13 18:58] sckott opened #61 "rework `ncdc_*` fxns internally to use ... instead of callopts"

[2014-10-13 19:06] #61 closed, assigned to sckott

[2014-10-13 21:11] #59 closed, assigned to sckott

[2014-10-13 21:14] #56 closed, assigned to nobody

[2014-10-16 15:32] #57 closed, assigned to nobody

[2014-10-16 17:13] sckott opened #62 "add vignettes for homr, storms, and tornadoes"
- [x] homr
- [x] storms
- [ ] tornadoes

[2014-10-22 17:23] emhart opened #63 "Request to add more sources from erddap from NOAA"
An e-mail I received this morning from NOAA.

tl;dr - add more data from http://upwell.pfeg.noaa.gov/erddap

[2014-11-02 22:43] sckott opened #64 "Remove assertthat dependency, just use stopifnot"

[2014-11-03 15:27] #64 closed, assigned to sckott

[2014-11-03 15:56] #19 closed, assigned to sckott

[2014-11-04 18:42] sckott opened #65 "Add old erddap_data fxn back in with deprecation message"

[2014-11-05 07:09] sckott opened #66 "Add installation instructions to readme/elsewhere for rgdal/GDAL"

[2014-11-05 21:57] sckott opened #67 "Play with link to oceanview pkg?"
http://cran.r-project.org/web/packages/OceanView/index.html

[2014-11-06 18:35] sckott opened #71 "Possibly put buoy functions in a sep small pkg only on Github?"
That would reduce confusion, and mean we don't have to worry about continually merging new changes into the bouy branch.

[2014-11-10 19:40] sckott opened #73 "Download ncdf files for erddap data instead of csv"
Looks like `ncdf` package has windows binaries in addition to binaries for other platforms, meaning installation if we require that pkg should be okay now.

Try to use ncdf files insetad of csv, should download faster and load/read faster

[2014-11-10 21:38] sckott opened #74 "New ERDDAP endpoints"

[2014-11-16 23:53] tungttnguyen opened #75 "Can not download hourly precipitation data"
Hi there,

I failed to download the hourly precipitation data for the period I wanted. rnoaa told me that no data found. However, I could download the data just fine from the website
https://gis.ncdc.noaa.gov/map/viewer/#app=cdo&cfg=cdo&theme=hourly&layers=1

This is what I tried so far

library(rnoaa)
#### Download hourly data for PULLMAN MOSCOW REGIONAL AIRPORT, WA US

PUW <- ncdc_stations(exten

[2014-11-17 19:29] sckott opened #76 "ISD ftp access fxns"
Work on making fxns to access ISD data from FTP because the legacy NCDC REST service is quite unreliable. It does provide search which is good, but FTP should be more reliable at least for getting data.

[2014-11-25 20:52] sckott opened #77 "Consider not doing internally paging in `ncdc()`"
Since it's not done in the other `ncdc_()` functions, and is basic enough for users to do on their own.

[2014-12-02 19:45] sckott opened #78 "Maybe add fxn to look up lat long pair for cities"
for `ncdc*` fxnx

[2014-12-02 19:47] sckott opened #79 "Perhaps add to ncdc_stations param for place names"
e.g., `place="Los Angeles"` would attempt to find lat long pair by searching a web geolocation api, then using those lat/long coords in the extent param

[2014-12-12 21:06] #75 closed, assigned to nobody

[2014-12-19 15:58] sckott opened #80 "readme fixes"
These packages contain README.md files with invalid HTML output created
by pandoc 1.12.4.2 according to W3C-validator.

I attach the HTML errors and warnings found below, and will put copies
of the corresponding HTML files up at
http://www.r-project.org/nosvn/pandoc.

Please investigate the problems and fix as needed.

Afaics, many of the problems are caused by adding "raw" HTML elements in
the RE

[2014-12-19 17:02] #65 closed, assigned to nobody

[2014-12-19 17:17] #80 closed, assigned to nobody

[2014-12-19 18:36] sckott opened #81 "Improve and fill out more tests"

[2014-12-19 18:51] sckott opened #82 "Better error handling when dataset ids not found, fields not found, etc. in `erddap_table()`"
e.g.,

Requesting a field that doesn't exist in a dataset

[code]

A misspelled dataset id

[code]

A longitude val that doesn't make sense

[code]

[2014-12-19 23:31] sckott opened #83 "Fix caching in erddap_table and erddap_grid"

[2014-12-19 23:33] #83 closed, assigned to sckott

[2014-12-20 00:04] #81 closed, assigned to sckott

[2014-12-20 00:31] #82 closed, assigned to sckott

[2015-01-01 01:35] #77 closed

[2015-01-06 19:11] sckott opened #84 "Add more tests"
- [x] ncdc legacy API functions
- [x] ghcnd ftp functions
- [x] isd functions

[2015-01-06 19:32] sckott opened #85 "Build out functions for the ghcnd daily FTP files"
http://www.ncdc.noaa.gov/oa/climate/ghcn-daily/
http://www1.ncdc.noaa.gov/pub/data/ghcn/daily/readme.txt
ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily

See branch https://github.com/ropensci/rnoaa/tree/adam that has some functions contributed by adam as a start

[2015-01-07 15:57] sckott opened #86 "Functions to help reshape ghcnd data"
see #85

Need to reshape weird formatted data from GHCND into typical useful data structure...

[2015-01-07 19:37] sckott opened #87 "Allow output of ghcnd_stations to be cached"
since it takes a while to download and compile

[2015-01-07 19:50] sckott opened #88 "Fix overwrite param in ghcnd fxn, ignored right now"

[2015-01-08 16:45] sckott opened #89 "Travis builds stalling and failing possibly b/c of NOAA blocking calls from travis?"
Recent builds failing e.g., https://travis-ci.org/ropensci/rnoaa/builds/46331685

for no apparent reason, could be same as before where NCDC blocking IP's from travis

[2015-01-08 16:46] sckott commented on #89
perhaps ignore ncdc API tests and see if that's the cause

[2015-01-11 16:13] sckott opened #90 "Error in erddap_data() when using disk() and error in query"
For example:

[code]

[code]

[code]

[code]

the file written is

[code]

[2015-01-30 21:18] sckott opened #91 "pkg oce uses ncdf4 on CRAN as a Suggest"
http://cran.r-project.org/web/packages/oce/index.html

And windows binaries are still built for the pkg, so maybe we use ncdf4 as a Suggest in `rnoaa`, and allow user to pick `csv` format or `ncdf` format if they have ncdf4 installed...

[2015-02-09 22:26] sckott opened #92 "See if ghcnd ftp fxn can search on zip codes"
from user

[2015-02-11 18:22] sckott commented on #89
seems to be fine again since https://travis-ci.org/ropensci/rnoaa/builds/47362670

[2015-02-11 18:22] #89 closed

[2015-02-11 18:25] sckott commented on #22
using new functions...

[2015-02-11 18:25] #22 closed

[2015-02-11 18:25] sckott commented on #62
nah, enough vignettes already

[2015-02-11 18:25] #62 closed

[2015-02-12 00:04] sckott commented on #92
This is not easy. Zip codes are not included in any of the metadata I can find for NOAA weather stations, we could read from zip files, but these are huge and can't be shipped with the package, and there doesn't seem to be any web APIs to go from lat/long to zip code (though there are for the opposite direction).

thinking of rolling my own API...

[2015-02-20 18:37] atkinsjeff opened #93 "missing link in readme.md"
the link to the tutorial on ROpenSci directs to a missing link. I think the correct link is:  http://ropensci.org/tutorials/rnoaa_tutorial.html

[2015-02-20 18:44] sckott opened #94 "Query by state OR country?"

[2015-02-20 19:01] #93 closed

[2015-02-20 19:01] sckott commented on #93
thanks!

[2015-05-07 16:26] sckott commented on #94
Tried to get data for this, but it's kinda hard, closing

[2015-05-07 16:26] #94 closed

[2015-05-07 16:28] sckott commented on #91
rerddap to CRAN soon, so may just use that in this package, ....

[2015-05-21 03:50] swayland commented on #76
I've done some work on this since I use ISD data regularly. It might be worth considering starting with the ISD Lite data. It's way easier to work with as there are only 12 fields to parse. The granularity is not quite as good, and the times are rounded to the nearest hour, but the data is still good enough for most purposes. If it's something that you think is worthwhile. I'd be glad to give it a

[2015-05-21 15:39] sckott commented on #54
closing, in favor of #76

[2015-05-21 15:39] #54 closed

[2015-05-21 15:39] sckott commented on #91
closing, rerddap on cran now, will use soon here

[2015-05-21 15:39] #91 closed

[2015-05-21 15:46] sckott commented on #76
thanks @swayland - Been a while since I worked on this. I'll look through the code as is and see where we're at

[2015-05-21 16:06] sckott commented on #53
moving to next milestone

[2015-05-21 16:08] sckott opened #95 "Drop erddap fxns - refer users to rerddap on cran"
will close  #51 #73 #90

[2015-05-21 19:29] sckott commented on #76
@swayland made some changes. Try reinstalling rnoaa from github, then trying its examples https://github.com/ropensci/rnoaa/blob/master/R/isd.R

Let me know if you think the interface for the function is good, and behavior is good, and output data (column names, etc.) Note that we cache the original compressed (.gz) file, and then also the created .csv file (so that on subsequent calls to get the

[2015-05-21 20:50] #51 closed

[2015-05-21 20:50] #73 closed

[2015-05-21 20:50] #90 closed

[2015-05-21 20:50] #95 closed

[2015-05-21 23:08] #23 closed

[2015-05-21 23:34] sckott commented on #58
dont see any obvious candidates to add right now, closing

[2015-05-21 23:34] #58 closed

[2015-05-21 23:34] sckott commented on #15
meh, if folks request this will add, but need to focus on getting data

[2015-05-21 23:34] #15 closed

[2015-06-16 20:34] sckott opened #96 "ERSST data"
https://www.ncdc.noaa.gov/data-access/marineocean-data/extended-reconstructed-sea-surface-temperature-ersst-v4

suggested by a user, see email

[2015-06-17 13:54] sckott opened #97 "Skip on cran tests"

[2015-06-17 14:18] sckott commented on #76
seems done to me

[2015-06-17 14:18] #76 closed

[2015-06-17 16:52] sckott commented on #86
done

[2015-06-17 16:52] #86 closed

[2015-06-17 16:53] sckott commented on #87
nah, not important

[2015-06-17 16:53] #87 closed

[2015-06-17 16:54] sckott commented on #85
pretty much done, one more issue to take care of, #88

[2015-06-17 16:54] #85 closed

[2015-06-17 17:23] #97 closed

[2015-06-17 21:18] #84 closed

[2015-06-17 22:10] #88 closed

[2015-06-17 23:04] sckott opened #98 "replace sp and rgeos with V8 /turf"

[2015-06-18 18:35] #98 closed

[2015-06-18 18:41] sckott opened #99 "V8 to suggests for those that need it"

[2015-06-18 19:15] #99 closed

[2015-06-18 19:42] sckott opened #100 "Move buoy functions into master - ncdf or ncdf4 as suggest"
so shouldn't affect users that don't want to use it

[2015-06-18 21:54] #100 closed

[2015-06-18 22:57] sckott commented on #71
closing, in main trunk now

[2015-06-18 22:57] #71 closed

[2015-06-26 16:08] sckott opened #101 "ncdc functions fail sometimes given new httr"
from zopim

[2015-06-26 16:19] #101 closed

[2015-06-26 17:51] sckott opened #102 "Remove radius param and fix ncdc_stations man file"

[2015-06-26 17:51] #102 closed

[2015-07-01 00:52] #74 closed

[2015-07-01 00:53] sckott commented on #60
this shouldn't be a problem now with the most recent `httr`

[2015-07-01 00:53] #60 closed

[2015-07-01 00:54] sckott commented on #66
done

[2015-07-01 00:54] #66 closed

[2015-07-01 00:56] sckott commented on #63
done, erddadp not in rnoaa anymore,

[2015-07-01 00:56] #63 closed

[2015-07-06 23:59] sckott opened #103 "Import all non-base R fxns"

[2015-07-07 00:14] sckott opened #104 "Legacy NCDC API down"
May just make these functions defunct for now, with defunct message telling users, wait a day or so and see if still down, and if so, take out

[2015-07-07 01:26] #103 closed

[2015-07-07 01:36] #104 closed

[2015-07-20 20:02] whryan commented on #60
Hi,

I'm getting this error again. When I am using lapply to make a number of requests, and then stop the process before it is finished, it will throw this error whenever I try to use GET thereafter.

[2015-07-20 20:35] sckott commented on #60
hi @whryan - what version of `rnoaa` and `httr` are you running

[2015-09-02 23:07] potterzot opened #105 "GEFS Forecast data"
I have implemented fetching of GEFS forecast data in netCDF, and it seems like it would maybe be useful to incorporate that into rnoaa? I'd be happy to do some work on that if necessary. I have a gist with the initial example [here](https://gist.github.com/potterzot/308f39a5d4a64c37ffb0).

We're working on some agriculture decision tools that incorporate both historical and forecast climate data,

[2015-09-07 00:59] sckott commented on #105
hi @potterzot - back from vacation now.

Sounds great. Can you submit a pull request?

[2015-09-11 22:07] selu220 opened #107 "nldn dataset - "Error in UseMethod("xpathApply")""
When I attempt to employ a simple example

`swdi(dataset='nldn', startdate='20140101', enddate='20140102', bbox = c(-91, 30, -90, 31))`

I get the following error:

[code]

Other data sets seem to work fine.

[2015-09-11 22:29] sckott commented on #107
I'll take a look

[2015-09-12 00:53] sckott commented on #107
@selu220 available to government and military users only https://www.ncdc.noaa.gov/data-access/severe-weather/lightning-products-and-services

I guess I'll make a note that it's only avail. to certain users

[2015-09-12 00:53] sckott commented on #107
thought it should fail better for users that dont have access, will do that

[2015-09-12 00:59] #107 closed

[2015-09-12 00:59] sckott commented on #107
thanks @selu220

[2015-09-12 20:24] selu220 commented on #107
thank you!

[2015-09-14 15:11] lesserwhirls opened #109 "GEFS URL for 1.0 to 0.5 Degree Output Transition"
Greetings,

It's totally awesome that rnoaa is pulling data from the Unidata THREDDS data server. One thing to note is that the GEFS dataset will be changing from 1.0 degree output to 0.5 degree output in the near future (TBD, but slated for 2015 - http://www.nco.ncep.noaa.gov/pmb/changes/).

I'll be happy to submit a pull request with the new url once the transition is happened.

Cheers!

[2015-09-14 17:03] sckott commented on #109
Thanks for the heads up. Please do submit a PR when it happens. Thanks :+1:

[2015-09-14 22:53] sckott opened #110 "Some GHCND urls fail occassionally"
Build in a retry maybe, try perhaps 2 or 3 times, then fail more gracefully than

[code]

[2015-09-14 23:21] sckott commented on #79
seems out of scope

[2015-09-14 23:21] #79 closed

[2015-09-14 23:21] #110 closed

[2015-09-17 15:05] fmichonneau opened #111 "Add support for CO-OPS (Tides and Currents) API"
See http://co-ops.nos.noaa.gov/api/

[2015-09-17 15:26] sckott commented on #111
cool, thanks @fmichonneau for doing

[2015-10-15 17:59] sckott opened #112 "Tree ring data"
There's a SOAP service, but just no :hand:

ftp://ftp.ncdc.noaa.gov/pub/data/paleo/treering/measurements/

[2015-10-15 18:01] sckott commented on #112
better info pages

* https://catalog.data.gov/dataset/international-tree-ring-data-bank-itrdb
* https://www.ncdc.noaa.gov/data-access/paleoclimatology-data/datasets/tree-ring

[2015-10-15 18:32] sckott commented on #112
in feddata pkg

[2015-10-15 18:32] #112 closed

[2015-10-16 15:19] sckott opened #113 "ggplot2 new version fixes"
The most common problems:

* Layer function now check their arguments: and throw
  an error if you supply an unknown argument. This appears
  to catch a number of spelling mistakes and other errors.
  A few of you have also been calling `layer()` directly -
  you'll need to update to the new signature.

* ggplot2 now imports and re-exports `scales::alpha`,
  `grid::arrow`, and `grid::unit`. This h

[2015-10-18 19:35] sckott opened #114 "Move all import statements to package level man file, tidyness"

[2015-10-18 19:37] #113 closed

[2015-10-18 19:37] #114 closed

[2015-10-20 03:58] sckott opened #115 "ISD improvements"
* fix lat/long values, given as `x * 1000` (so divide by 1000)
* fix elevation, given as `x * 10` (so divide by 10)
* wind speed, given as `x * 10` (so divide by 10)
* temp., given as `x * 10` (so divide by 10)
* dew point, given as `x * 10` (so divide by 10)
* atmospheric pressure, given as `x * 10` (so divide by 10)
* many more to convert to right data type
* when reading cached data, preserve d

[2015-10-20 19:04] sckott opened #116 "Add proper license info for js files"

[2015-11-30 01:23] sckott opened #117 "change ncdf to ncdf4"
message from Ripley:

scheduled to be removed from CRAN in Jan 2016.  It has only been keep
this long because ncdf4 was not available for Windows: it now is (on
CRAN extras, a default repository for binary installs).  Please convert your package to use either ncdf4 or RNetCDF as soon as possible and definitely by early January.  (For the second group this
could just mean removing references to ncd

[2015-11-30 01:24] sckott commented on #117
https://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.2/

[2015-11-30 22:55] sckott commented on #105
@potterzot getting to that PR soon?

[2015-11-30 22:57] sckott commented on #109
@lesserwhirls looks like the functions for working with THREDDS are broken now. Has the change been made?

cc @potterzot

[2015-11-30 22:58] jsta opened #118 "Character buoy ids"
I cannot seem to retrieve any data associated with buoys that have character ids. For example,

` buoy(dataset = "stdmet", buoyid = "VCAF1")`

returns

See [http://www.ndbc.noaa.gov/to_station.shtml](http://www.ndbc.noaa.gov/to_station.shtml)

[2015-11-30 22:58] sckott commented on #109
an example request

http://thredds.ucar.edu/thredds/dodsC/grib/NCEP/GEFS/Global_1p0deg_Ensemble/members/GEFS_Global_1p0deg_Ensemble_20151129_0000.grib2

gives

[code]

[2015-11-30 23:01] potterzot commented on #105
Hi @sckott - The PR was done a while ago in this [issue](https://github.com/ropensci/rnoaa/pull/106#issuecomment-138993955), I think I created a second issue to make the PR, so I'll close this one now.

[2015-11-30 23:01] #105 closed

[2015-11-30 23:03] sckott commented on #105
ah, okay

[2015-11-30 23:07] sckott commented on #118
woops, i only accounted for numeric buoy ids, fixing

[2015-11-30 23:10] lesserwhirls commented on #109
Hi @sckott - the example url you have listed above is not a valid OPeNDAP request. If, for example, you request the dods dataset description:

http://thredds.ucar.edu/thredds/dodsC/grib/NCEP/GEFS/Global_1p0deg_Ensemble/members/GEFS_Global_1p0deg_Ensemble_20151129_0000.grib2.dds

the request works. The transition to GEFS 0.5 degree has not happened yet, so the 1.0 degree should still be working.

I

[2015-11-30 23:16] sckott commented on #109
@lesserwhirls Okay, thanks. Hmm, I'll have a look, maybe I constructed the URL wrong.

[2015-11-30 23:18] lesserwhirls commented on #109
It would be good to get the full url being requested. I do not know R at
all, otherwise I'd go digging around to see.

On Mon, Nov 30, 2015 at 4:16 PM, Scott Chamberlain <notifications@github.com

[2015-11-30 23:30] potterzot commented on #109
@sckott is this broken in the GEFS R functions currently? I can look into it this evening to see what's wrong if so.

[2015-11-30 23:49] sckott commented on #109
@potterzot yeah, all tests fail, and all egs don't work - if they truly are broken, we should get a new patch version up to CRAN soon. I'll open a new issue so we don't conflate with the topic of this one

[2015-11-30 23:50] sckott opened #119 "GEFS functions all broken"
assigned to @potterzot

[2015-11-30 23:51] sckott commented on #119
extracted from #109

[2015-12-01 00:35] #118 closed

[2015-12-01 00:35] sckott commented on #118
@jsta reinstall from github, and try again, shoudl be fixed

[2015-12-01 00:44] #116 closed

[2015-12-01 01:00] sckott commented on #117
checked on a windows vm box, and does indeed install from that cran repo

[2015-12-01 01:02] sckott commented on #117
@potterzot `ncdf4` now has windows binaries, so we'll switch to that. I already switched out `ncdf` for `ncdf4` in the buoy functions. I can do for gefs or you can if you like. Let me know which.

[2015-12-01 01:31] potterzot commented on #117
I'll take care of it, since I'm looking at #119 also.

[2015-12-01 01:34] sckott commented on #117
@potterzot for reference, here's the changes I did for `ncdf4` for the buoy functions   https://github.com/ropensci/rnoaa/blob/master/R/buoy.R#L130-L161

[2015-12-01 05:18] potterzot commented on #109
Just submitted a PR that should address #119 and #117.

With regards to the resolution change, maybe it would be worth adding the ability for the user to select the resolution, since it seems both the 1 and 0.5 degree GEFS data will be available.

@lesserwhirls if you provide the new URL for the 0.5, I'll add it to gefs.R so that the user can select the resolution.

@sckott, figured it would be be

[2015-12-01 06:08] sckott commented on #109
Sounds good

[2015-12-01 12:22] lesserwhirls commented on #109
Yikes, this means the 0.5 degree gefs is being sent to us with the 1 degree
gefs data header. How long has the test been failing? Hopefully not too
long...

There will be a new url for the 0.5 degree gefs, likely later today. I'll
let you know when it's live. The United for the 1.0 degree gefs will
continue to work until the old data ages off the system (about 2 weeks).

Sean

On Monday, November

[2015-12-01 12:42] lesserwhirls commented on #109
Scratch that, this is probably why I need coffee before getting on guthub.
I'll continue monitoring the data feeds to see when the 0.5 gefs becomes
available.

On Tuesday, December 1, 2015, Sean Arms <sarms@ucar.edu> wrote:

[2015-12-01 15:22] sckott commented on #109
thanks @lesserwhirls

[2015-12-01 16:52] #117 closed

[2015-12-01 16:53] sckott commented on #119
@potterzot are we all set now?

[2015-12-01 17:10] potterzot commented on #119
I believe so, yes.
On Dec 1, 2015 8:53 AM, "Scott Chamberlain" <notifications@github.com>
wrote:

[2015-12-01 17:14] #119 closed

[2015-12-01 20:55] sckott commented on #115
seems good to go, will fix other things as needed

[2015-12-01 20:55] #115 closed

[2015-12-01 20:57] sckott commented on #55
meh, don't want to duplicate effort here

[2015-12-01 20:57] #55 closed

[2015-12-01 21:08] sckott commented on #96
worgin on

[2015-12-01 22:21] #96 closed

[2015-12-02 00:41] sckott commented on #109
@lesserwhirls @potterzot will this happen soon?  Hoping to push a new version of this pkg to CRAN. I can hold off if it's soon, but otherwise I'll push today probably, then we can submit a new version to CRAN soon with the changes

[2015-12-02 00:57] lesserwhirls commented on #109
I dug a bit deeper, and we won't be getting the 0.5 degree gefs yet - it's
not being transmitted via noaaport, so we wil look at other options (which
will take more time...could be months).

Sorry about that. The 1.0 degree should be good to go, though.

On Tuesday, December 1, 2015, Scott Chamberlain <notifications@github.com>
wrote:

[2015-12-02 00:57] sckott commented on #109
ok, thanks @lesserwhirls

[2015-12-02 01:09] potterzot commented on #109
It could happen tonight if the URL is ready. Otherwise tomorrow. I can make
the changes tonight and then drop in the new link when it becomes available.
On Dec 1, 2015 4:41 PM, "Scott Chamberlain" <notifications@github.com>
wrote:

[2015-12-02 01:10] sckott commented on #109
@potterzot but @lesserwhirls just said it could be months, i'm not sure i follow, maybe we're talking about 2 diff. things?

[2015-12-02 01:11] potterzot commented on #109
Ah, sorry, I missed that msg. Good to go then!
On Dec 1, 2015 5:10 PM, "Scott Chamberlain" <notifications@github.com>
wrote:

[2015-12-02 01:20] sckott commented on #109
submitting soon

[2015-12-02 02:07] sckott opened #121 "URL for gefs data python code broken"
http://sila.cee.wsu.edu/forecasts/WeatherAndClimateDatafromNWS.html

@potterzot

is the code somewhere else you could point to?

[2015-12-02 17:35] potterzot commented on #121
Hi Scott - it appears that the link is down and I haven't gotten a
response. The change you made is great though. Thanks!

---------------------
Nicholas Potter
http://potterzot.com

On Tue, Dec 1, 2015 at 6:07 PM, Scott Chamberlain <notifications@github.com>
wrote:

[2015-12-02 17:48] sckott commented on #121
okay, hopefully they'll respond, i'll leave it open for a while in case you get a response soon

[2015-12-08 16:46] sckott opened #122 "Add interface to make easy to go from lat/long/sp classes, etc. and output data for each point/polygon"
OBIS related

[2015-12-08 16:56] sckott commented on #122
hmm, probably better as sep. pkg

[2015-12-09 09:07] sckott commented on #122
sep pkg, closing

[2015-12-09 09:07] #122 closed

[2015-12-09 14:53] sckott opened #123 "argo buoys"
http://www.ifremer.fr/lpo/naarc/m/docs/api/get_overview.html
http://www.argo.ucsd.edu/Data_FAQ.html#api

[2015-12-20 18:05] sckott opened #125 "Put rgdal in Suggests"
should help downstream things that may depend on `rnoaa`

[2015-12-23 16:57] #125 closed

[2015-12-23 17:08] sckott commented on #111
Closing for now, initial implementation in, can open new issues as needed for these functions

[2015-12-23 17:08] #111 closed

[2015-12-23 17:42] sckott commented on #123
working on finishing implementaito now

[2015-12-23 20:30] #123 closed

[2015-12-23 22:48] sckott opened #126 "coops changes"
@jsta can we change some things

* change numeric data to numeric class. right now, i think all columns numbers, but given back as character
* ...

[2015-12-24 01:12] sckott opened #127 "Problem with ncdf4 where on windows machines doesn't work"
at least for `gefs` fxns I get an error that the file type can not be read, the `.grib` file type, see if this can be fixed

[2015-12-24 17:27] jsta commented on #126
The idea would be to convert character results to numeric? I'll go through the various product results and see how the numeric columns lineup.

[2015-12-24 17:40] jsta commented on #126
Also, I see that calls to water level products should throw an error if a datum is not supplied. Currently there is just a silent "no data" return.

[2015-12-24 18:41] sckott commented on #126
yes

[2015-12-29 13:32] jsta commented on #126
another issue is that the datums and predictions product return a data.frame not named "data"

[2015-12-29 13:35] jsta commented on #126
Not all of the data columns are numeric for all products. For example, all of the products except for `monthly_mean` return a character POSIXct date-stamp as the first column.

[2016-01-01 08:41] fmichonneau commented on #111
Thanks @jsta and @sckott! I'll check it out soon.

[2016-01-01 08:51] sckott commented on #111
great, thanks @fmichonneau

[2016-01-01 14:42] jsta commented on #111
@fmichonneau @sckott #129 adds some more examples that might help you test

[2016-01-07 16:18] sckott opened #130 "ncdf4 on appveyor"
for appveyor try `options(repos = ...)` for setting ripley mirror

[2016-01-21 14:42] sckott commented on #126
thanks, closing

[2016-01-21 14:42] #126 closed

[2016-01-21 15:35] sckott commented on #121
no response, just leaving as is

[2016-01-21 15:35] #121 closed

[2016-01-21 16:55] potterzot commented on #121
Just FYI I did have a conversation with Von Walden, the author of the python code, and he said that the link is currently down, he's not that concerned about it, and he will let me know if/when it becomes available again.

[2016-01-21 17:21] sckott commented on #121
okay, thanks. Anywhere else the code lived? on bitbucket/github/gitlab/anywhere?

p.s., did I already ask you this? Why are `gefs_GET()` and `gefs_CONNECT()` exported?  seems like you don't lay out any examples for those, suggesting maybe they aren't meant to be used by users?

[2016-01-21 17:33] potterzot commented on #121
I don't think the code is available anywhere at the moment. He had it on his laptop, threw it on his site for me to work from, and then took it down again.

re: gefs_GET() and gefs_CONNECT(), I wasn't sure whether they should be exported or not. They are base functions not really meant to be used by users, so maybe I should remove them. I guess I was thinking that I still wanted someone to be able

[2016-01-21 17:46] sckott commented on #121
They just look like internal fxns to me at least, but your more familiar with them.

By the way, any thoughts on this #127

[2016-01-21 17:55] potterzot commented on #127
I'm a little confused on this, is it specific to windows and to gefs? Can you give me a reproducible example to work from?

[2016-01-21 17:57] sckott commented on #127
Sure, I'll try it again on windows and paste in the error I get

[2016-01-21 18:09] sckott opened #131 "Fixes to ncdc_plot - breaks arg. is annoying, maybe remove"

[2016-01-21 19:14] sckott commented on #127
@potterzot e.g,

[code]

[code]

[2016-01-21 19:15] sckott commented on #127
That `grib2` file format is causing problems, never heard of that format, not sure where to look for solution

[2016-01-21 19:16] potterzot commented on #127
some climate data is stored in it. I'll look at it, should be able to fix
quickly. Thanks for bringing it to my attention and thanks for the example!

---------------------
Nicholas Potter
http://potterzot.com

On Thu, Jan 21, 2016 at 11:15 AM, Scott Chamberlain <
notifications@github.com> wrote:

[2016-01-21 23:31] #131 closed

[2016-01-21 23:32] sckott commented on #127
@potterzot let me know when you get a fix for this, hoping to get the next patch version https://github.com/ropensci/rnoaa/milestones/v0.5.2 pushed soon

[2016-01-22 16:54] potterzot commented on #127
@sckott Strange, it works fine on linux. I hope to make it happen this weekend, and push an update in the next couple of days. Will that work?

[2016-01-22 17:04] sckott commented on #127
Sounds good

[2016-01-23 09:46] StefioCeccon commented on #60
A (not great) workaround is also to detach the library and re-attaching it if that helps:

detach("package:rCurl", unload=TRUE)
detach("package:httr", unload=TRUE)
library(rCurl)
library(httr)

[2016-01-23 15:59] sckott commented on #60
Thanks @StefioCeccon - However, this shouldn't happen anymore because `rnoaa` requires a minimum `httr` version https://github.com/ropensci/rnoaa/blob/master/DESCRIPTION#L27 that has the fix

[2016-01-25 17:47] potterzot commented on #127
I think this is an upstream bug. Bypassing **rnoaa** and using **ncdf4** directly, I have no problem on linux but can't access the file on windows.

On Linux:
[code]

On Windows:
[code]

If this makes sense, I'll submit a bug to ncdf4.

What would you like to do with the gefs code in the meantime? I can put a notice in that says it doesn't work for windows, or if you would prefer something else ju

[2016-01-25 18:06] sckott commented on #127
thanks for looking in to this :+1:

how about we just stop on windows, for all applicable gefs functions, e .,g, put this code in

`if (is_windows()) stop("gefs not implemented on windows yet", .call = FALSE)`

[2016-01-25 18:51] sckott commented on #127
temporary fix in #133 , closing this, will open new issue to remind us to fix this

[2016-01-25 18:51] #127 closed

[2016-01-25 18:52] sckott opened #134 "fix gefs on windows at some point"
in #127 talked about gefs functions failing on windows b/c of unreadable file format - figure out a fix at some point... perhaps a fix can be made to `ncdf4`

cc @potterzot

[2016-02-07 17:09] sckott opened #135 "httr::content fixes for new httr version"

[2016-02-07 19:56] #135 closed

[2016-02-11 02:31] GuodongZhu opened #136 "bug found when using rnoaa isd function"
I think I found a bug when I use rnoaa isd function.

A station is uniquely determined by two parameters usaf and wban.

If we search the station using usaf="702700", wban="00489", the isd.search function will tell us that such station doesn't exist. If we try to grab data using identifiers usaf="702700", wban="00489", we can still get the data. However, the date is discontinuous, e.g., 20140114,

[2016-02-11 16:26] sckott commented on #136
@GuodongZhu thanks for the report. I'll have a look and report back

[2016-02-11 23:21] sckott opened #137 "git"
sb

[2016-02-11 23:46] #136 closed

[2016-02-11 23:47] sckott commented on #136
@GuodongZhu try again after re-installing `devtools::install_github("ropensci/rnoaa")`

[2016-02-11 23:49] sckott commented on #136
the station data from `isd_stations()` was reading in the wban field as numeric, and that data can have leading zeros, which are of course stripped off when read in to R. Now that column is read in as character class

also, `isd()` fails better now when the user supplied query doesn't match a real data file

[code]

[2016-02-12 16:18] tchakravarty opened #138 "Multiple `stationid`s in `ncdc_stations`"
I am unable to figure out how to specify a list of weather stations in the `ncdc_stations` function. The function has a relevant sounding argument `stationid`, but it asks to pass `a chain of of [sic] station ids in a comma-separated vector`. I don't understand what data structure is expected here.

Here is what I have in my code:

[code]

This returns with just data for one (the first) station.

[2016-02-12 16:53] sckott commented on #138
Thanks for your question @tchakravarty I'll have a look soon

[2016-02-12 17:58] sckott commented on #138
- We do have a function in `rnoaa` that does what your `df_ghcnd_countries` variable gets, see `ghcnd_countries()`
- We do have a function in `rnoaa` that does what your `df_ghcnd_stations ` variable gets, see `ghcnd_stations()`
- I mistakingly allowed more than one station to be passed to `ncdc_stations()` - will push a change soon to fix that, it now stops with error if stationid length is > 1 -

[2016-02-14 23:25] GuodongZhu commented on #136
It works now. Thanks sckott !

Another question that puzzles me is that the data downloaded from this station (usaf = "702700", wban = "489")  have discontinuous dates. It starts Jan 14 (not Jan 1) and jumps to Jan 21. I have tested some stations, and only this station which is located in Alaska has the problem. Is it because the raw data is recorded this way ?

[2016-02-15 22:31] sckott commented on #136
I don't know anything about the date coverage for these data. You could try looking at the  https://www.ncdc.noaa.gov/isd  page and maybe contacting someone that works there

[2016-02-16 03:22] GuodongZhu commented on #136
I will try to contact them. Thanks sckott !

[2016-02-16 15:29] #137 closed

[2016-02-16 15:30] sckott opened #139 "ncdc fxns allow multiple inputs, and not working right now"
fixing...

[2016-02-16 18:12] #139 closed

[2016-02-22 19:04] jread-usgs commented on #110
@sckott just noticing that you don't use `times` for your retry. Can this get stuck in a loop? https://github.com/ropensci/rnoaa/blob/67ac0eeda4ae7fa566f75500915ce25f516a53ea/R/ghcnd.R#L215

[2016-02-22 20:20] sckott commented on #110
thanks - will have a look

[2016-02-22 22:19] sckott commented on #110
@jread-usgs using `times` now :)  thanks for reminding me.

[2016-02-22 23:44] jread-usgs commented on #110
:+1:

[2016-03-09 03:26] sckott opened #140 "potential seaice bug"
[code]

[2016-03-15 16:07] sckott opened #141 "Wavewatch"
data: http://polar.ncep.noaa.gov/waves/nopp-phase1/

planetos has this data http://data.planetos.com/datasets/noaa_ww3_global_1.25x1d:noaa-wave-watch-iii-nww3-ocean-wave-model - but rate limits are pretty low and users have to sign up there

[2016-03-21 16:17] zxy1219 opened #142 "ISD data attributes."

[2016-03-21 16:21] zxy1219 commented on #142
Hi, why the rnoaa download different attributes from the ISD (Integrated Surface Database) from using the NOAA search tool or ftp?
For example, the rnoaa downloaded data don't include SLP which was introduced in the NOAA's metadata (http://www.ncdc.noaa.gov/cdohtml/3505doc.txt). In stead, they have the "air pressure".

Any one know the reason?

[2016-03-21 18:03] sckott commented on #142
can you give an example request with an `rnoaa` function?

[2016-03-21 18:54] zxy1219 commented on #142
Yes. I use the isd(). Here is my code:
res<- isd(usaf="723630", wban="23047", year=2008, path = "...", overwrite = TRUE)

[2016-03-21 19:40] sckott commented on #142
what version of R and `rnoaa` are you using?

[2016-03-21 19:44] zxy1219 commented on #142
I'm using R 3.2.4, The rnoaa package was installed 3 days ago. It is the 0.5.2?

[2016-03-21 19:50] zxy1219 commented on #142
I just found that most downloaded data have more than 24 observations per day. Is it not the hourly data?

[2016-03-21 20:02] sckott commented on #142
hmm, looks like the slp data is there in the downloaded data, so I may need to edit the parsing code

[2016-03-21 20:13] zxy1219 commented on #142
Thanks. Just one little suggestion, can you name the attributes in the same way with NOAA's?
This link can provide reference:http://www.ncdc.noaa.gov/cdohtml/3505doc.txt

[2016-03-21 20:29] sckott commented on #142
This is the document that matches the data downloaded by the `isd()` function ftp://ftp.ncdc.noaa.gov/pub/data/noaa/ish-format-document.pdf The document you link to http://www.ncdc.noaa.gov/cdohtml/3505doc.txt doesn't seem to match up - What is the context for the http://www.ncdc.noaa.gov/cdohtml/3505doc.txt page? That is, what dataset is it supposed to describe?

[2016-03-21 20:30] sckott commented on #142
e.g., your document states that he WBAN identifier is at positions `08-12`, while the pdf I link to states it is positions `11-15`

[2016-03-21 23:28] zxy1219 commented on #142
I think I figured it out. The data sample provided by NOAA is the "simplified" version, while rnoaa download the "advanced" version. Both of the two version could be extracted by using NOAA's "search tool".

Great thanks!

[2016-03-22 00:04] sckott commented on #142
Okay. Which format do you prefer, the simple or advanced format?

[2016-03-22 00:34] zxy1219 commented on #142
We use the simple version in the past studies. The advanced version looks
fine since they can match with the simple version. Are you going to develop
a function to download the simple version?

On Mon, Mar 21, 2016 at 7:04 PM, Scott Chamberlain <notifications@github.com

[2016-03-23 18:04] sckott commented on #142
I wasn't planning to, but we could think about doing that. Are the simple version files avail. via FTP?

[2016-03-23 18:45] zxy1219 opened #143 "R error report"
Thank you for helping me for the previous issue. Now I meet a new problem: when I'm downloading the ISD by sites using R, there is a error message come out very often:

<path>C:xxxxxxxxx//ISD_2011/722580-13960-2011.gz

Error in data.frame(normal, proc_other(other), stringsAsFactors = FALSE) :
  arguments imply differing number of rows: 1, 0

When the error happens, there is a .gz file in the outpu

[2016-03-23 18:46] sckott commented on #143
Yes, please do share example code

[2016-03-23 18:54] zxy1219 commented on #143
Thanks! Here is

`
library(rnoaa)
library(rio)

index <- import("C:xxxxxxxxx/US_2011__site.xlsx")
head(index)
USAF=index$USAF
wban=index$WBAN

for ( i in 1:100)
{

  if (1000<=wban[i] & wban[i]<10000) {wban_mod=paste("0",wban[i],sep="")}else if (100<=wban[i] & wban[i]<1000) {wban_mod=paste("00",wban[i],sep="")} else {wban_mod=paste("",wban[i],sep="")}

  USAF_mod=paste("",USAF[i],sep="")

  res<-

[2016-03-23 18:56] zxy1219 commented on #143
When I run the function `res<- isd(usaf="722580", wban="13960", year=2011, path = "C:xxxxxxxxx/ISD_2011", overwrite = TRUE)`
The error still happen. So I have to go to the NOAA website, and download those sites manually.

[2016-03-23 20:26] sckott commented on #143
thanks, ill have a look

[2016-03-24 05:46] sckott commented on #143
@zxy1219 hmm, i need at least some of that file `US_2011__site.xlsx`, or at least some of the usaf and wban pairs

[2016-03-25 02:31] sckott opened #144 "use tibble"
https://cran.rstudio.com/web/packages/tibble/

[2016-03-25 16:31] GuodongZhu opened #145 "Unable to unpack .gz file for some isd stations"
When I use isd function

`isd(usaf="999999", wban="94074",  year =2013, path="")`

I got the following error message

[code]

I use Windows and the newest RStudio version.

[2016-03-25 17:20] zxy1219 commented on #143
Sorry for replying so late. Sure, here is the list:
USAF	WBAN
722640	93035
722535	12909
722536	12911
722700	23044
722436	12906
722550	12912
722505	12904
723510	13966
722560	13959
722533	12962
722595	13911
722615	22001
723630	23047
690190	13910
722670	23042
722580	13960
722510	12924
722517	12932
722555	12935
722656	23040
722660	13962
722530	12921
722500	12919
722650	23023
722630	23034
722597	93985

[2016-03-25 17:46] sckott commented on #143
thanks

[2016-03-25 18:02] sckott opened #146 "speed up each_line fxn within isd()"
`each_line` could definitely be faster, profile and speed up

[2016-03-25 18:02] sckott commented on #145
related to #146 i think, that is, internals of `isd()` need to be faster

[2016-03-25 18:33] sckott commented on #145
@GuodongZhu the error message you received i believe is because `path=""` is not valid, if you meant the current directory, do `"."` with a dot.

trying  your example to a proper directly though made me realize that we need to speed up the parsing, working on that now

[2016-03-25 20:23] GuodongZhu commented on #145
Sorry for the confusion. I has  assigned the path with correct value, I just omitted the value when I pasted here... I still got the same error when I used the default path.

[2016-03-25 20:41] sckott commented on #145
Hmm, I don't get that error that you get, I just made some changes to speed up parsing the data, can you reinstall, like `devtools::install_github("ropensci/rnoaa")` and try again

[2016-03-25 20:51] GuodongZhu commented on #145
It's a little weird. I reinstalled the package. Now the error message is gone...

Anyway, thank you sckott !

[2016-03-25 21:09] #145 closed

[2016-03-25 21:31] sckott commented on #143
all of those wban and usaf id pairs worked for me with the newest version, try again after reinstalling, like `devtools::install_github("ropensci/rnoaa")`

also, the output of a call to `isd()` is a data.frame of the results, so there's no reason to read in the data again after calling that fxn as you'll have it already

[2016-03-25 21:50] zxy1219 commented on #143
Thanks! It works!

[2016-03-25 21:51] sckott commented on #143
great

[2016-03-25 21:51] #143 closed

[2016-03-25 21:52] sckott commented on #144
hmm, though we're already importing `dplyr` for a number of fxns, so no need to have tibble

[2016-04-01 16:27] sckott opened #147 "gchnd - read.fwf na.strings"
Possibly read in `-9999` as NA

should it be optional?

[2016-04-01 16:31] sckott opened #148 "Describe the results from ghcnd better"
- specifically what possible different values are in outputs
- others?

[2016-04-01 23:55] geanders opened #149 "Some arguments in `ghcnd` don't do anything"
According to the documentation, `ghcnd` can take the arguments `date_min` and `date_max` to restrict what date range of data it pulls. However, this doesn't do anything-- regardless of what you put for this, you will always get the full available dataset for that station (i.e., observations for all available dates). Same thing with the `var` argument. Regardless of your choice, you always get back

[2016-04-02 00:04] geanders commented on #149
Yep, this whole family of functions is just ftp-ing to ".txt" files, so extra things like date restrictions or variable restrictions that you're trying to pass through I'm pretty sure are just being ignored. It's going to give you the same file no matter what you do. In our fork, I'll take those arguments out of the documentation for the `ghcnd` family.

[2016-04-02 00:48] sckott commented on #149
There's multiple functions in that file https://github.com/ropensci/rnoaa/blob/master/R/ghcnd.R - `date_min` and `date_max` are  used in `ghcnd_search` i'm pretty sure. the problem is that `ghcnd()` has a `...` param to allow passing curl options to `httr::GET` and so if you pass e.g., `date_min` to `ghcnd()` it is silently ignored

[2016-04-02 03:55] geanders commented on #149
Got it-- I'd missed that looking through those functions. I've added those parameter definitions back into the documentation on our fork. Would it be okay, though, if I re-worked the documentation in that section to have separate documentation for each function? I think a lot of users could get confused with thinking that they can use some of those arguments with all the functions. Or would that b

[2016-04-02 04:04] geanders commented on #148
I added some of the results for main weather variable outputs in the documentation for `clean_daily`. Should I see if I can work some of that into the documentation for `ghcnd` (only difference there I think is the variable names are in all caps) and `ghcnd_search`? I've also got some information in the `clean_daily` documentation that links to the online README file for the GHCND data, which give

[2016-04-02 16:42] sckott commented on #149
yes

sounds good!

[2016-04-02 17:01] sckott commented on #148
wrt

and

we don't want to duplicated documentation - if you have a separate man file for the `clean_daily` function, then you leave docs in there and just link to it from `ghcnd` man page e.g.

Note if there's a lot of detailed docs you have (I haven't looked at them yet) you may want to have a vignette instead, e.g., this one on NCDC attributes https://github.com/ropensci/rnoaa/blob/master/vigne

[2016-04-04 07:16] geanders commented on #148
Okay, in the next day or so I'll take a go at getting the balance right on amount of documentation in those.

[2016-04-11 16:42] #144 closed

[2016-04-11 16:44] #21 closed

[2016-04-11 16:44] #25 closed

[2016-04-11 16:46] sckott commented on #50
hmm, we already have coops, closing

[2016-04-11 16:46] #50 closed

[2016-04-11 16:54] sckott commented on #109
@lesserwhirls @potterzot any update on this?

[2016-04-11 16:58] sckott opened #150 "Keep on NOAA to allow > 1 stationid to be passed in"
via #138

[2016-04-11 16:58] sckott commented on #138
closing, see #150 for following up with NOAA about the multiple stationids issue

[2016-04-11 16:58] #138 closed

[2016-04-11 17:10] potterzot commented on #109
@sckott @lesserwhirls AFAIK it isn't available yet, so we can't incorporate it. At least on the [unidata thredds server](http://thredds.ucar.edu/thredds/idd/forecastModels.html), they only provide the 1 degree option.

[2016-04-11 17:11] sckott commented on #140
tests all pass now, not sure what happened here, closing

[2016-04-11 17:11] #140 closed

[2016-04-11 17:11] sckott commented on #142
@zxy1219 any thoughts on my last comment?

[2016-04-11 17:13] sckott commented on #109
okay, thanks!

[2016-04-11 17:13] lesserwhirls commented on #109
Sorry for the silence on this end. NCEP has implemented the resolution
change, but it's not yet coming through their data feed to us (called
CONDUIT). We are actually hearing an overview of model changes at this very
moment, so I may have some news soon.

On Mon, Apr 11, 2016 at 11:10 AM, Nicholas Potter <notifications@github.com>
wrote:

[2016-04-11 17:17] sckott commented on #109
great, thx for the update @lesserwhirls

[2016-04-12 02:02] geanders commented on #149
Okay, I have the `clean_daily` function in our fork changed now so it's using `ghncd_search` for most of the heavy lifting, and then converting the output into a large tidy dataframe to make it easier to work with the results with `dplyr`, `ggplot2`, etc. We've then got `meteo_pull_monitors` that will take a whole list of site ids and pull and tidy all weather data for selected weather variables (

[2016-04-18 02:53] geanders commented on #149
I've done this. I also just merged your master branch's changes into the `ropenscilabs` branch I've been working on (earlier today). I have the `ghcnd.R` file, where I've edited documentation, ready for you to look over and pull what you want back into the master branch. I almost have another file, `helpers_ghcnd.R`, ready for you to consider pulling in, as well, and since in the documentation for

[2016-04-18 15:23] geanders opened #151 "Questions for weather people"
Please add in here any questions you have about weather data sources or how to use and interpret the data we're getting through these functions. This includes questions about how / why what is available through NOAA's APIs are different from other weather data sources.

[2016-04-18 16:27] jebyrnes commented on #141
http://polar.ncep.noaa.gov/waves/products.shtml
ftp://polar.ncep.noaa.gov/pub/history/waves/ or ftp://polar.ncep.noaa.gov/pub/waves/

Global hindcasts back to 1997.

[2016-04-18 16:27] jebyrnes commented on #141
But grib2 formats - not always fun. Although wgrib2 can convert them to netcdf files.

[2016-04-19 08:03] masalmon commented on #151
I have a question regarding NOAA sources, maybe someone will have a clue... I think the only station that I can access through rnoaa daily summaries function for Hyderabad is the one on this map http://www.imd.gov.in/pages/obs_network.php?id=08 (same lat and lon than the one I get with meteo_nearby_station) so the data must come from http://imdagrimet.gov.in/imd_datalist/form but if I use the form

[2016-04-19 10:57] brian-may commented on #151
masalmon,

I think the station is question is this one: https://www.ncdc.noaa.gov/cdo-web/datasets/GHCND/stations/GHCND:PKM00041764/detail. As you can see NOAA only has TMAX, TMIN, and PRCP for this station. It may observer far more than this, but because it is not in the US the data is probably restricted.

You can read more about about the dataset provided by NOAA here: https://www.ncdc.noaa.gov

[2016-04-19 11:22] masalmon commented on #151
@brian-may Thanks a lot, in particular it's helpful for me to know that you think that the data is probably restricted and from the second link I could surf a bit and find out more.

I forgot to mention I mean Hyderabad in India, this one is the Hyderabad in Pakistan (I always forget there are two Hyderabads!) This is the station http://www.ncdc.noaa.gov/cdo-web/datasets/GHCND/stations/GHCND:IN001

[2016-04-28 11:48] sckott opened #152 "replace rbind_all with bind_rows"

[2016-04-28 11:51] #152 closed

[2016-05-02 20:03] sckott opened #153 "Bug in ncdc_plot with date times"
not sure exactly what problem is yet, still working it out

[2016-05-04 16:07] zxy1219 commented on #142
The simple version will be helpful. But the advanced version is good enough for my current project. Thanks a lot.

[2016-05-04 23:01] sckott opened #154 "More speed ups for each_line() fxn within isd()"
started in #146 - continue trying to speed up

[2016-05-04 23:01] sckott commented on #146
closing, will continue to work on in next milestone

[2016-05-04 23:01] #146 closed

[2016-05-04 23:20] #153 closed

[2016-05-04 23:54] sckott opened #155 "Bugs in argo functions"
* with new httr, `box` input of a vector no longer works, need to manually make a character vector
* errant `file` param being passed into the http request, remove

[2016-05-04 23:58] #155 closed

[2016-05-12 14:22] sckott commented on #109
hey @lesserwhirls @potterzot - these functions are breaking again. Seems the thredds urls are 404ing. Having URLs changed?

[2016-05-12 14:34] lesserwhirls commented on #109
Hey @sckott - we are having major issues with the data array on the machine currently hosing thredds.ucar.edu. We've put in a DNS request to change to a backup machine, so as soon as that goes through we should be rockin' and rollin' again. Thanks for the report!

[2016-05-12 16:03] potterzot commented on #109
@sckott, do you think it would be worth adding a check/error message so that if a user tries to pull some data and gets an inability to connect error they would know to try again later?

Also, I have some similar functionality now for [CFS](http://cfs.ncep.noaa.gov/cfsv2/downloads.html) and [NMME](http://www.cpc.ncep.noaa.gov/products/NMME/) data. These are longer-term climate forecast datasets th

[2016-05-12 16:42] sckott commented on #109
yeah, makes sense. I don't think `ncdf4` has the flexibility to error well, right? could use `httr` to ping the url, and see if you get a 200

Yeah, sounds great

[2016-06-02 19:24] sckott commented on #142
Okay, i'll give the simple version a shot some time, but not a priority for now

[2016-06-28 21:22] lawinslow opened #156 "ghcnd_splitvars Broken with `dplyr` v0.5.0"
After upgrading dplyr to v0.5.0 (current CRAN version), the `rnoaa::ghcnd_splitvars` function no longer works.
[code]
Seems to fail right away on [this select statement](https://github.com/ropensci/rnoaa/blob/master/R/ghcnd.R#L131).

Downgraded to `dplyr` v0.4.3 and it works fine.

[2016-06-28 21:23] lawinslow commented on #156
Small world @sckott. Thanks for the noaa package.

[2016-06-28 21:53] sckott commented on #156
thanks @lawinslow - sorry about that - i knew a new version was coming, should have caught it, will push a change soon

[2016-06-28 21:54] lawinslow commented on #156
np, just thought you'd like to know.

[2016-07-01 23:26] #156 closed

[2016-07-01 23:26] sckott commented on #156
@lawinslow try again after reinstall

[2016-07-02 16:16] lawinslow commented on #156
Great. Fixed. Thanks!

[2016-08-11 09:33] lukas-rokka opened #157 "isd_stations_search() is slow"
Using is_stations_search() takes roughly 20 seconds. Which is too long to be useful in production code.

Here is solution that I used my self that takes less than 0.1 second to compute. I gets the nearest stations with a reasonable accuracy, the distance and don't require loading external packages.

[code]

[2016-08-11 18:18] sckott commented on #157
thanks, having a look ...

[2016-08-11 20:31] sckott commented on #157
@lukas-rokka  Can you explain in english what the calculation of `grid_size_lat` and `grid_size_lon` are? And would you be able to do a bounding box search with this setup?

[2016-08-12 08:27] lukas-rokka commented on #157
At the equator the size of 1° is the same both in longitude and latitude, roughly 111 km. At 90° latitudes the size of 1° longitude is zero, while the latitude is relatively constant. At 60°, the grid size is roughly 111 km in latitude and 66 km in longitude.  I don't remember the reference to the trigonometric calculations, but I think it's an approximation that accounts for earth being a spheroi

[2016-08-12 15:56] sckott commented on #157
Thanks for the details on the what the calculations do.  I can write a draft replacement function with what you've done on a new branch and get your feedback on it?

no, but someone mentioned it here too https://github.com/ropensci/rnoaa/issues/76#issuecomment-104121544  - happy to incorporate here

there are async features in the `curl` package

No, be interested to add that if it's not a ton of

[2016-08-13 14:39] lukas-rokka commented on #157
Sure, that would be great.

Well, it could easily end up being "tons of code". But would be a very useful feature. There are some packages (e.g. MICE, hmisc::aregImpute()) that deals with missing values. But I think there are some domain specific issues that can take while to deal with, like which nearby stations that can be used (the nearest ones, does it need to be on same elevation or some othe

[2016-08-13 17:42] sckott commented on #157
okay, will start that

Can you open up a new issue for this, and we can continue discussion there

This pkg is focusing on NOAA data - I assume those data sources aren't from NOAA?  We can definitely start one or more new pkgs though

[2016-08-15 07:29] lukas-rokka opened #158 "Imputation of missing weather parameters"
enchantment/new feature request:

It would be very useful with a missing values imputation feature. Personally I'm mostly interested in the ISD dataset, but this should be useful for other NOAA datasets as well.  For many stations and weather parameters it should be possible to use data from nearby stations and do the imputation with existing R-packages (e.g. MICE, hmisc::aregImpute()). For shorte

[2016-08-15 19:35] sckott commented on #158
@lukas-rokka thanks for this.

`enchantment` I like it 😏

Want to send a pull request to get started? and we can discuss from there

[2016-08-18 21:15] lukas-rokka commented on #158
haha, enchant code would definitely be an enhancement.

I'll not work on it before the next month or so, I let you know when I get something useful done.

[2016-08-23 19:06] #147 closed

[2016-08-23 19:06] #149 closed

[2016-08-23 19:22] sckott opened #160 "seaice urls broken"

[2016-08-23 19:26] #160 closed

[2016-08-23 23:20] sckott opened #161 "possibly remove cached isd_stations dataset in pkg since kinda big"

[2016-08-24 00:19] sckott commented on #157
@lukas-rokka try out the new fxn, reinstall from here and let me know what you think

[2016-08-24 00:19] sckott commented on #161
removed in 8a9bc68a63aa65352c55add6fcb5b8ca2a149cd6

[2016-08-24 00:19] #161 closed

[2016-08-24 07:09] lukas-rokka commented on #157
@sckott it tested it for functionality and speed, it works great.

A comment of overlapping:
there's a function meteo_spherical_distance() (from the latest pull?) in meteo_distance.R that calculates the distance with the haversine forumula (slightly more elegant than my version that projects our round earth to a flat map and then do the distance calc). You can now search the nearest ISD stations w

[2016-08-24 20:35] sckott commented on #157
@lukas-rokka good point. yes those fxns are from the latest PR.  We should keep `isd_stations_search`, but we could use `meteo_distance` internally within that fxn to do the actual work.  sound good?

[2016-08-29 06:31] lukas-rokka commented on #157
It's up to you @sckott, and what you think gives more maintainable code. From an user perspective it doesn't really matter how it works internally as long it works. But good to keep the `isd_stations_search` as it will come up when you start typing isd_

[2016-08-30 19:27] sckott commented on #157
@lukas-rokka made the changes, reinstall and try again

[2016-08-30 19:27] #157 closed

[2016-08-31 22:06] pssguy opened #162 "buoy() needs ncd4 which is not available for R v 3.3.1"
From vignette

[code]

[2016-08-31 22:11] sckott commented on #162
what's  your `session_info()` ?  it install fine for me, probably a OS problem guessing

[2016-08-31 22:22] pssguy commented on #162
R version 3.3.1 (2016-06-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_Canada.1252  LC_CTYPE=English_Canada.1252
[3] LC_MONETARY=English_Canada.1252 LC_NUMERIC=C
[5] LC_TIME=English_Canada.1252

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] rnoaa

[2016-08-31 22:46] sckott commented on #162
from what I can remember, I don't remember problems with `ncdf4` installs on windows, i'll ask some other people

[2016-08-31 23:27] pssguy commented on #162
does not available for 3.3.1 mean it doesn't run on the latest R version? If so, that would be an explanation

[2016-09-01 00:22] sckott commented on #162
No, because it runs fine on my machine.

Tried on a windows 8 VM, same setup wrt R, worked fine for me.

[2016-09-02 02:10] pssguy commented on #162
Just tried again and worked fine. I guess I did not restatr R before installing first time. maybe because rnoaa was already attached? See sessionInfo above

[2016-09-02 02:10] #162 closed

[2016-09-02 03:41] sckott commented on #162
glad you figured it out

[2016-09-02 16:34] sckott opened #163 "change ghcnd_stations() to not wrap df in a list"

[2016-09-02 16:35] sckott opened #164 "cache ghcnd_stations() output"
but may need to figure out way to smartly cache, since station data presumably updates daily since GHCND data is daily

[2016-09-02 16:46] #163 closed

[2016-09-02 16:48] pssguy opened #165 "buoy data clarification"
Am I right in understanding there is no straightforward way of getting lat/lon data on all buoys, what info they provide and how long they have been in operation? If possible, this would be a useful portal to acquiring data.
  Also is it all just historical data or is there access to the most current results  via the package
tx

[2016-09-02 17:22] sckott commented on #165
don't think so, can see if that exists

tx

don't know, what do you mean by current?

[2016-09-02 17:35] pssguy commented on #165
Actually I now see there is a [station list](http://www.ndbc.noaa.gov/to_station.shtml)

By current I meant hourly data for past 45 days [e.g](http://www.ndbc.noaa.gov/data/realtime2/46004.txt). I tried extracting one of these text files with readr and tidyr but haven't got it into a good data.frame as of yet

[2016-09-02 17:57] sckott commented on #165
Right, just saw that station list as well. Not the greatest thing in the world, though typical for NOAA. Maybe I can scrape that list, and lat/long from each station's page.

we get the data from http://dods.ndbc.noaa.gov/thredds/catalog/data/ - which Im not sure if it includes real time data or not

[2016-09-02 18:30] sckott opened #166 "Scrape buoys station list"
related to #165

Scrape buoys station list http://www.ndbc.noaa.gov/to_station.shtml and get names, lat, long, and anything else that’s useful

[2016-09-08 22:32] sckott opened #167 "improve ncdc docs wrt token usage"
changes in f4be1e57bec8f02e13c7a604bc44c299b52682db

[2016-09-08 22:32] #167 closed

[2016-09-09 21:29] rjbehnke opened #168 "unknown column: precipitation ISD"
Hi,

   When I use the rnoaa package to get ISD data, I often get the warning message "unknown column 'precipitation' ".  Is there a way to fix this?  I am using this package to download the ISD data set for North American stations.  I downloaded the isd station history, and am going through each station at a time.

Thank you,
Ruben Behnke

[2016-09-09 21:59] sckott commented on #168
Thanks for your message. Please paste in your `sessionInfo()` when you have `rnoaa` loaded

[2016-09-09 22:41] sckott commented on #168
And any example usage of `isd()` when you get that warning

[2016-09-09 22:55] rjbehnke commented on #168
Hi,

Here you go.  Thank you!

R version 3.3.1 (2016-06-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices utils     da

[2016-09-09 22:56] rjbehnke commented on #168
for (yr in 1901:2016){
    try(assign(paste("data",yr,sep=""), isd(isd_history$USAF[stn], isd_history$WBAN[stn], year = yr, path = "I:\\ISD", overwrite = TRUE,cleanup = TRUE)$data))
    print(yr)}

[2016-09-10 00:33] sckott commented on #168
thanks, that warning comes from `tibble`, the output data.frame is special kind of data.frame, of class `tbl_df`

it's just a warning, but I've just added `suppressWarnings` to the parsing code so that shouldn't show up anymore. reinstall `devtools::install_github("ropensci/rnoaa")` and try again

Can you share the the code I need to reproduce the error above

[code]

that works for me, not sure w

[2016-09-10 00:43] rjbehnke commented on #168
Here is the zipped R code I'm using.  I get 'download failed' errors a lot.  Maybe my code is just bad.  I don't know.  I'm not a super experienced programmer.

[Get_ISD.zip](https://github.com/ropensci/rnoaa/files/465123/Get_ISD.zip)

[2016-09-10 00:50] rjbehnke commented on #168
I was also wondering if I can just use rnoaa to parse downloaded ISD .gz files.  Is there a way to do this?  I really appreciate your help.

Ruben

[2016-09-11 18:27] sckott commented on #165
this seems to work, now to add a function

[code]

<img width="940" alt="screen shot 2016-09-11 at 11 26 27 am" src="https://cloud.githubusercontent.com/assets/577668/18419559/9c4faf92-7812-11e6-82a8-1b7cdd837a8f.png">

[2016-09-12 18:11] sckott opened #169 "expose a function to let users read ISD .gz files w/o using isd() itself"
from #168

[2016-09-12 18:12] sckott commented on #168
Thanks I'll take a look at your code and get back to you here

Not at the moment, but I can expose a function to do that, see #169

[2016-09-12 18:38] rjbehnke commented on #168
It seems like I can already parse the data just by pointing the path to the directory where the files are located, but a specific function to do this would be great.  I am currently downloading all the files.

[2016-09-12 19:32] #169 closed

[2016-09-12 19:33] sckott commented on #169
@rjbehnke reinstall `devtools::install_github("ropensci/rnoaa")` - added `isd_read()` function, try it and let me know what you think

[2016-09-12 19:34] sckott commented on #165
@pssguy started a scraper fxn, looks like it still needs some work. e.g,. to get buoy data we need not just station id but what dataset its from, and we don't have that yet, will come back to this

[2016-09-12 19:37] sckott commented on #168
@rjbehnke you use a file `isd-history.csv` i don't have access to that.

[2016-09-12 20:40] rjbehnke commented on #168
Here's the isd-history file (contains only North American stations).  The isd_read() function works great!

[isd-history2.zip](https://github.com/ropensci/rnoaa/files/468311/isd-history2.zip)

[2016-09-12 20:47] rjbehnke commented on #168
One other thing I can think of is the option to include/not include bad data in the output.  There are a lot of different flags in the ISD data, and missing data is represented by different values for each variable, so I don't know how much automation you want to include in a function.  But, for people who just want some nice output, perhaps some automation is ok.  I have written QC routines for h

[2016-09-12 20:51] sckott commented on #168
thanks for the file.

Correct. The data is pretty messy. Do you have code already to clean them up?

[2016-09-12 22:23] rjbehnke commented on #168
Scott,

   I do have code, but it is not ready for 'production'.  I am starting to refine it (which it desperately needs), but since I am also trying to graduate, it's not a fast process.  You are welcome to take a look at it, and work with me in making it better (much better) if you want.  Just let me know, and I can send you my code (whether or not it is understandable might be a different story

[2016-09-13 19:17] sckott commented on #168
one thing to note is that I recently https://github.com/ropensci/rnoaa/commit/201ad62d7a9cae970426b5f54a4873dc196760cc changed the output of `isd()` to a tibble (data.frame) instead of a data.frame nested in a list

[2016-09-13 19:48] sckott commented on #168
try it again after reinstalling `devtools::install_github("ropensci/rnoaa")`

here's a simpler version of your script, just focusing on making sure the file downloading/etc is working correctly. I think you shouldn't hit download fails anymore, though you might

[code]

[2016-09-13 20:08] sckott commented on #168
Went through many the first 6 or so rows of that history file, and it turns out there's some files that just don't exist on NOAA ftp servers , e.g, here's the ones that failed - For each of the stations below, there are some years that worked fine, but others failed, and I looked on the ftp servers and those that failed just didn't have a file. So do use `tryCatch()` and just skip if the file is n

[2016-09-13 20:09] sckott opened #170 "add note to isd() docs that some files don't exist"
from https://github.com/ropensci/rnoaa/issues/168#issuecomment-246807434

an error often means file doesn't exist

[2016-09-13 20:17] #170 closed

[2016-09-13 23:48] rjbehnke commented on #168
Thanks Scott.  It just seemed strange that there was so many years missing from the middle of a time series from a station.  I guess its just the way ISD is.

________________________________
From: Scott Chamberlain [notifications@github.com]
Sent: Tuesday, September 13, 2016 2:08 PM
To: ropensci/rnoaa
Cc: Behnke, Ruben; Mention
Subject: Re: [ropensci/rnoaa] unknown column: precipitation ISD (#168

[2016-09-14 01:41] sckott commented on #168
Right, I guess that's the way it is

[2016-09-15 17:43] pssguy commented on #165
@sckott Thanks for your work to date and anything forthcoming. Will take another look when you have completed scraper function

[2016-09-15 18:49] sckott commented on #165
forgot to say its included now, see  `buoy_stations()` - https://github.com/ropensci/rnoaa/blob/master/R/buoy.R#L39-L44

[2016-09-16 03:57] pssguy commented on #165
OK just tried out. Is there a unique id? e.g. there are 69 stations '3'

[2016-09-16 18:02] sckott commented on #165
yes, the code needs to be cleaned up, or it may be that we aren't grabbing the right station id, not sure yet, any feedback is good

[2016-10-01 20:04] rjbehnke commented on #168
Scott,

    The read_isd function works very good, but there are some errors that arise when trying to read the csv files written out after using the isd_read function.  I assume these are probably associated with errors in the NCDC files.  Here is a list of them.  I would suggest that functionality be included with the isd_read function to look for these errors and either correct them or remove t

[2016-10-01 20:48] sckott commented on #168
thanks @rjbehnke for this info. really helpful. It would be even more helpful if you could tell me which dataset requests lead to those errors, so I can quickly get examples that I can play with to sort these errors out.

[2016-10-01 22:20] rjbehnke commented on #168
Scott,

   Here's a document with info on the errors.  I attached the script I'm using.  Please let me know if you need something else.

Ruben

________________________________
From: Behnke, Ruben
Sent: Saturday, October 01, 2016 2:04 PM
To: ropensci/rnoaa; ropensci/rnoaa
Cc: Mention
Subject: read_isd errors

Scott,

    The read_isd function works very good, but there are some errors that arise w

[2016-10-02 02:44] sckott commented on #168
@rjbehnke  didn't get the attachment. I think you have to use the github web interface maybe, or email it to me.

[2016-10-02 15:02] rjbehnke commented on #169
[ISD_Read_Errors.docx](https://github.com/ropensci/rnoaa/files/505038/ISD_Read_Errors.docx)

Scott,

   Here's the document that describes the errors, etc.

Ruben

[2016-10-04 23:31] sckott commented on #169
thanks @rjbehnke , that is helpful

[2016-10-06 15:25] sckott opened #171 "move everything to rappdirs that isn't already using it"
rnoaa taken down until we change this, will try to get done today:

at least some of the exported fxns in these need fixes

- [x] tornadoes
- [x] storms
- [x] ersst
- [x] argo
- [x] isd
- [x] ghcnd

[2016-10-06 18:28] #171 closed

[2016-10-06 18:28] #130 closed

[2016-10-06 18:46] sckott commented on #169
@rjbehnke  woops, your comment belonged in #168 , not here, no worries, just noting this for my own benefit to keep track of things

[2016-10-06 18:46] sckott commented on #168
see file in #169

[2016-10-14 16:56] sckott opened #172 "Error in using ghcnd() function"
See https://ropensci.org/blog/2014/03/13/rnoaa/#comment-2949486345

[2016-10-14 16:59] sckott commented on #172
I haven't seen the problem before. There shouldn't be a limit on how many requests you can make with `ghcnd()` as it's just pulling from an FTP server. (whereas the ncdc functions do have limits)

can you share your `devtools::session_info()` OR `sessionInfo()` with me so I can see what versions of packages you have?

[2016-10-14 22:49] catherinehulshof commented on #172
Thank you for responding. This is my first time reaching out to the R forum community. Still learning the standards and etiquette (and how to share session_info, simply pasted below).

I am running [RStudio AMI](http://www.louisaslett.com/RStudio_AMI/). I suspect this error might be the result of a memory issue. I'm running something like:

`stationpre <- try(ghcnd(stationid=station[i,1]))`

insid

[2016-10-15 20:11] sckott commented on #172
thanks for the report @catherinehulshof - i'll have a look and get back to you soon

[2016-10-20 06:17] sckott commented on #172
Can you give me the ghcnd call that lead to the error,  curious if it has to do with certain stations

[2016-10-20 18:31] sckott commented on #172
@catherinehulshof Can you give me any ghcnd call that leads to that error, curious if it has to do with certain stations

[2016-10-21 23:11] geanders opened #173 "Error running `ghcnd_search` with CRAN version of `rnoaa` but not GitHub version"
When running examples from the help file for `ghcnd_search` with the version of `rnoaa` on GitHub (`ropensci/rnoaa`), it's working fine:

[code]

However, when I try with the current version on CRAN, I'm getting an error running the same thing:

[code]

From the commit history, it doesn't look like there have been any commits to the GitHub version since the latest version was released to CRAN, so

[2016-10-22 00:52] sckott commented on #173
somehow `urbanek` is getting injected into the user cache directory - happened on my machine as well. looking into how that can happen

[2016-10-22 01:00] sckott commented on #173
it only happens when I installed the binary version from CRAN, works fine when installing source version from CRAN

[2016-10-22 01:14] sckott commented on #173
@kevinushey so this is really weird.

On installation of a binary version from cran of this package, somehow the `rappdirs::user_cache_dir` call injects `urbanek` as the user instead of whoever the user is (e.g., `sacmac` for me)

This doesn't happen when installing source from cran, or installing from local git repo, etc.

I'm guessing this could be a problem in `rappdirs:::file_path`, which has

[2016-10-22 01:18] kevinushey commented on #173
I see something similar on a Windows install:

[code]

Perhaps the `rnoaa` package is calling an `rappdirs` function when the package is _built_, rather than at runtime / in a `.onLoad` handler?

[2016-10-22 01:21] kevinushey commented on #173
The issue is here:

https://github.com/ropensci/rnoaa/blob/e5f8bfef6e0b850c65ca7025341e1bc832f82f44/R/aaa.r#L1-L3

That code in `aaa.R` gets run on package _build_, so the username used when the package is built is what gets used by the package. Moving that code into the `.onLoad` handler should help.

[2016-10-22 01:53] sckott commented on #173
ah yeah, makes sense, thanks @kevinushey !

[2016-10-22 02:12] sckott commented on #173
@geanders i'll get a new version on cran by tomorrow

[2016-10-22 05:58] sckott commented on #172
@catherinehulshof it's possible your problem is related to https://github.com/ropensci/rnoaa/issues/173 - which we're fixing now

[2016-10-22 15:10] catherinehulshof commented on #172
@sckott I am just catching up to this now. In response to your last comment I initially thought the error was related to certain stations but once I received the error I could no longer pull data from any station even those that I had already called, which made me think it was an error related to device storage or cache like one user suggested.

Reading through #173 sounds like you were able to id

[2016-10-22 15:11] sckott commented on #172
@catherinehulshof to be sure, the error in that issue only happened when  you installed binary version of the package. Is that how you installed it?

[2016-10-22 15:34] catherinehulshof commented on #172
@sckott The first time I installed the binary version of the package and received the error after ~5,000 iterations of a loop that calls precipitation data for station after station. After troubleshooting, I uninstalled and re-installed the pacakage instead using the source version and received the same error, again after ~5,000 iterations. The only other thing I can think of is that I'm running a

[2016-10-22 15:44] sckott commented on #172
Not sure what it could be. If it happened with the binary and source version , then it's not related to the other I think.

You could be running out of space on the disk you have possibly, seems possible since it seems to happen after a lot of iterations

I think for loops are fine in this case, makes it easier to reason about I think

[2016-10-22 15:53] catherinehulshof commented on #172
Thank you! I'll keep experimenting.

[2016-10-22 20:17] sckott commented on #173
this is sorted now, pushing to cran today

[2016-10-22 20:17] #173 closed

[2016-10-25 18:18] geanders commented on #173
Thanks so much!
________________________________
From: Scott Chamberlain <notifications@github.com>
Sent: Friday, October 21, 2016 8:12:47 PM
To: ropensci/rnoaa
Cc: Anderson,Brooke; Mention
Subject: Re: [ropensci/rnoaa] Error running `ghcnd_search` with CRAN version of `rnoaa` but not GitHub version (#173)

@geanders<https://github.com/geanders> i'll get a new version on cran by tomorrow

-
You ar

[2016-10-28 22:13] Fasle opened #174 "Integrated surface - hourly (ISH) data access"
Hi all,

I need global hourly weather data and I've been using the NOAA ISH data. I wanted to try to use your library, but I saw that you moved support for the legacy API to /[ignore](https://github.com/ropensci/rnoaa/commit/c10e3763d7feb3d811c2dad11231c189c7f4b283). Can I somehow still use the old API through your library or would I have to fork it and put support for the old API back in manually

[2016-10-28 22:32] sckott opened #175 "Fxxn or toggle for "simple" ISD data format"
via #142

[2016-10-28 22:32] sckott commented on #142
opened issue for the simple data format, so it doesn't get forgotten here

[2016-10-28 22:37] sckott commented on #174
thanks for your question @Fasle !

That legacy NOAA API was very flaky, often failing. So it didn't seem worth supporting here. You can of course play with that code any way you like.

have you seen the `isd()` function in `rnoaa`? It does have hourly data within each date. Is that the data you're looking for?  If you point out some example data you can get on NOAA's site e.g., I can see if we can

[2016-10-29 03:12] mrubayet opened #176 "ISD Precipitation data missing"
I don't think isd() can retrieve  precipitation data. I guess you have missed the additional data described in:
ftp://ftp.ncdc.noaa.gov/pub/data/noaa/ish-format-document.pdf. isd() retrieves only mandatory section  however precipitation falls in the additional part of the data set.

[2016-10-30 21:34] sckott commented on #176
thanks @mrubuayet

i did indeed miss some data. i got some of the additional data, but not all. I'm working on that.

also, breaking off the ISD parser to a new pkg https://github.com/ropenscilabs/isdparser (so users don't need some of the heavier deps of `rnoaa`) - `rnoaa` will use it once on cran

[2016-10-31 06:12] mrubuayet commented on #176
Great. Also please check the unit of precipitation in rnoaa documentation for meteo_tidy_ghcnd (). The unit isn't consistent for  input var and the value. I think the output precipitation should be also in tenths of millimeters. Thanks

[2016-10-31 14:12] sckott commented on #176
Please open a new issue for this since that deals with ghcnd data

[2016-11-01 21:46] sckott opened #177 "improve ISD parsing"
via #176  and others,

started new pkg `isdparser`, incorporate that as an import

[2016-11-01 21:47] sckott opened #178 "check unit of precipitation in meteo_tidy_ghcnd docs"
via #176

@mrubuayet said

[2016-11-05 20:07] sckott opened #179 "bug in ghcnd"
via email

[2016-11-05 21:08] #177 closed

[2016-11-12 22:32] GuodongZhu opened #181 "Error in gzfile(file, mode) : cannot open the connection"
Hi Sckott,

when I use isd_stations() or isd_stations_search( ), I got the following error
[code]
And I have checked that the directory indeed doesn't exists.  Does isd_station() store the temporary result in that directory? Why it can't find it?  And I have tried to run R as administrator.

Thanks!

[code]

[2016-11-12 23:01] sckott commented on #181
Looks like we may be doing paths incorrectly on windows. i'll look into it

[2016-11-13 04:00] GuodongZhu commented on #181
Hi Sckott,

Looks like it is a small bug in version 0.6.5. I just installed 0.6.4 and there is no error.

 -Guodong

[2016-11-13 19:52] sckott commented on #181
thanks for the update.

[2016-11-13 20:37] sckott commented on #181
@GuodongZhu Okay, try again your example after reinstalling from here: `devtools::install_github("ropensci/rnoaa")`

it should work now

[2016-11-13 22:15] GuodongZhu commented on #181
It works now, thanks!

[2016-11-16 21:11] maspotts opened #182 "NOAA API V2 moved to HTTPS since noon today, breaking all(?) api access functions"
Although the NOAA website doesn't mention this, since noon today I've been getting 301 errors from all NOAA API V2 services reporting a move from HTTP to HTTPS.  I've asked the NOAA technical support folks if this is a permanent change, but as long as it's in place I can't get the rnoaa api functions to work.  Example:

[code]

As a quick workaround, is there any way to force an HTTPS connection t

[2016-11-16 21:15] sckott commented on #182
fixing right now

[2016-11-16 21:32] sckott commented on #182
oh, and thanks for the report!

[2016-11-16 21:38] #182 closed

[2016-11-16 21:38] sckott commented on #182
@maspotts reinstall from github for now, will send to CRAN today hopefully

`devtools::install_github("ropensci/rnoaa")`

[2016-11-16 21:47] sckott commented on #176
closing, should be all fixed now

[2016-11-16 21:47] #176 closed

[2016-11-16 21:56] #181 closed

[2016-11-16 22:01] maspotts commented on #182
thanks: works for me.  that was amazingly fast!! :)

[2016-11-16 22:02] sckott commented on #179
sorted

[2016-11-16 22:02] #179 closed

[2016-11-16 22:29] sckott opened #183 "homr base url changed to https"

[2016-11-16 22:33] #183 closed

[2016-12-16 19:36] drf5n opened #184 "coops_search() time_zone weirdness?"
[code]
These are consistent with what you see at https://tidesandcurrents.noaa.gov/waterlevels.html?id=8638610&units=metric&bdate=20161210&edate=20161210&timezone=GMT&datum=NAVD&interval=6&action=data

I would expect the resultant values to be the same if the times are the same, but the vaues differ while the time remains the same.

If I unclass the resultant time, I see that the timezone attribut

[2016-12-16 22:02] sckott commented on #184
thanks for the issue @drf5n

I'll have a look

[2016-12-17 05:01] drf5n commented on #184
My workaround right now is to set the timezone to GMT, do the request, then assign GMT to the returned data:

    Sys.setenv('TZ'='GMT')  # make sure the system time attribute is set.
    Sys.timezone()
    ss= coops_search(begin_date=20161210, end_date=20161210,station_name=8638610,product='water_level',datum='NAVD',time_zone='gmt')
    attr(ss$data$t,'tzone')<-'GMT'  # fix up the time attribute

[2017-01-06 22:36] sckott opened #185 "sea ice - URLs changing"
from NOAA email

---------

NOAA@NSIDC would like to alert users of an update to the Sea Ice Index FTP directory structure. The current FTP directory  (ftp://sidads.colorado.edu/DATASETS/NOAA/G02135/) contains monthly data and images directly under the top-level directory with one subdirectory for each month. The monthly subdirectories house both northern and southern hemisphere data files and ima

[2017-01-13 21:48] sckott opened #186 "replace httr with crul throughout package"

[2017-01-13 21:58] sckott opened #187 "http -> https changes"
- [x] coops
- [ ] ersst
- [ ] swdi
- [ ] tornadoes

[2017-01-13 22:22] sckott commented on #184
one problem is that if we need to use LST, that's the local time zone of the station, but they don't give us the time zone of the station in the response. so we have to get it somehow,

then i can correct the date values given back

[2017-01-13 22:50] sckott commented on #184
@drf5n  do you ever use `lst_ldt`?

[2017-01-13 23:05] sckott commented on #184
try again after reinstalling

[code]

[code]

[code]

[code]

[2017-01-13 23:06] sckott commented on #184
changes in ddad05b6bf0173ae2ead27de5bac796b6f8b2eb7

[2017-01-14 04:02] drf5n commented on #184
Re. LST_LDT, no, I try to always use UTC.

This fix works for me.  Thanks.

[2017-01-14 16:28] sckott commented on #184
Glad it works

[2017-01-18 02:48] soms1 opened #188 "isd data extraction error"
I could successfully download hourly surface data  for many years. For some years as in the example below, rnoaa shows error like this:

"Error in stats::setNames(tmp, nms) :
  'names' attribute [11] must be the same length as the vector [8]"

I just need 1 or 2 variables to download.

Thanks

[2017-01-18 02:52] sckott commented on #188
thanks for the issue. please paste in your `devtools::session_info()` or `sessionInfo()`

[2017-01-18 03:25] soms1 commented on #188
Here it is.  Thank you!

R version 3.3.2 (2016-10-31)
Platform: i386-w64-mingw32/i386 (32-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices utils

[2017-01-18 05:32] sckott commented on #188
that's taken care of in the development version of `isdparser` - see https://github.com/ropensci/isdparser/issues/9 install it from github `devtools::install_github("ropensci/isdparser")`

trying to get new `isdparser` to CRAN soon

[2017-01-18 16:30] sckott opened #189 "via email: GHCNDMS not in ncdc_datasets() anymore"
[code]

Also, `ANNUAL` is missing

but can still get data from `GHCNDMS` and `ANNUAL`, .... emailed NOAA folks

[2017-01-18 17:27] sckott commented on #189
NOAA folks said GHCNDMS is now GSOM, and ANNUAL is now GSOY

[2017-01-18 17:57] sckott opened #190 "Add 'additional' param to toggle that feature in isdparser for isd() function"

[2017-01-18 17:57] sckott commented on #190
done in 97d50b35c806f1c58fdcf8625860ff7293133c6e

[2017-01-18 17:57] #190 closed

[2017-01-18 17:59] sckott commented on #172
closing due to inactivity - can reopen if needed

[2017-01-18 17:59] #172 closed

[2017-01-18 18:01] sckott commented on #168
closing for now, let me know if there's anything we didn't sort out @rjbehnke

[2017-01-18 18:01] #168 closed

[2017-01-18 18:26] sckott opened #191 "use hoardr for caching"
https://github.com/ropensci/hoardr

[2017-01-27 22:15] sckott commented on #174
closing inactivity

[2017-01-27 22:15] #174 closed

[2017-02-06 10:35] sckott opened #193 "Climate prediction center"

[2017-02-11 00:30] cboettig opened #194 "Access sea ice CSV data?"
Looks like we can access the shapefiles, but it would be nice to just get the sea ice time-series data as well, e.g. ftp://sidads.colorado.edu/DATASETS/NOAA/G02135/north/monthly/data/

Ideally the function would aggregate the separate monthly (or daily) files into single timeseries dataframe.

[2017-02-11 00:39] cboettig opened #195 "Consider support for CMORPH (NOAA rainfall data)?"
http://www.cpc.ncep.noaa.gov/products/janowiak/cmorph_description.html

[2017-02-11 09:22] sckott commented on #194
thanks @cboettig will have a look

for timeseries, you mean like with `zoo` package?

[2017-02-11 17:39] cboettig commented on #194
No, just reading the CSV into a data.frame is probably best. I just meant the data is just over time and not space in the .CSV files

[2017-02-11 17:50] sckott commented on #194
Okay, thanks

[2017-02-13 16:31] mondorescue opened #196 "setting stationid, results in no data"
I am following the tutorial and I am running into the following error. I tried entering other stationids with no success.

[code]

[code]

[2017-02-13 16:56] sckott commented on #196
thanks @mondorescue I'll have a look

[2017-02-13 17:01] sckott commented on #196
@mondorescue try update to latest CRAN version, works for me with latest version - let me know if that works

[2017-02-13 17:14] mondorescue commented on #196
@sckott Most excellent. I should have tried that first. Updating directly off CRAN fixed it. (I'm using MRAN and it is using a 2016-11-01 snapshot of CRAN for its package database, so whenever I tried updating rnoaa, it was pulling ver 0.6.5.) Thanks!

[2017-02-13 17:14] #196 closed

[2017-02-13 17:17] sckott commented on #196
Ah, okay, good to know that about MRAN.

glad it works

[2017-02-15 22:43] #193 closed

[2017-02-15 22:44] sckott commented on #191
using for CPC in `cpc_prcp()` - will use in other soon

[2017-02-15 22:45] sckott commented on #188
closing due to inactivity, i assume this is sorted

[2017-02-15 22:45] #188 closed

[2017-02-15 23:30] sckott opened #199 "bug in flag parsing for ncdc data"
at least with GSOM - there appear to be 4 flags now for each data record, whereas there was 2 before when it was GHCNDMS

inquiring about this

[2017-02-15 23:44] #189 closed

[2017-02-15 23:47] sckott commented on #187
coops http to https in eb8eb072

[2017-02-16 00:07] #187 closed

[2017-02-16 00:07] sckott commented on #184
done

[2017-02-16 00:07] #184 closed

[2017-02-16 00:52] sckott commented on #195
@cboettig do you have any of this data in a human consumable format?  the data is in binary files that are as typical for noaa hard to wrap your head around. want to make sure data is extracted correctly

[2017-02-16 03:14] cboettig commented on #195
Ha, I was hoping you might help me wrap my head around NOAA's use of binary formats, my googling suggested these .Z files were compressed Big Endian , which I guess is just binary stream, but should correspond to some kind of spatial raster?  Was hoping gdal or something might recognize it.  All Greek to me, just passing on a suggestion from student

[2017-02-16 18:30] TheBurningMap opened #200 "ghcnd_search pulls different results on different workstations"
Having trouble getting the ghcnd_search function to return same results on two different workstations, both running Windows 10 Enterprise. System dates are correct and issue still happens with hard coded dates. Workstation # 1 returns correct results. RStudio versions are different but I tried it with both machines having version 1.0.44 and experienced same issue. Could be an issue with the data f

[2017-02-16 18:52] sckott commented on #200
thanks for the report @TheBurningMap - i'm not seeing anything that indicates why that would happen.

is that problem repeatable? does it happen every time you call that fxn on the machine where it doesn't work

[2017-02-16 20:19] TheBurningMap commented on #200
Yes. Repeatable.

Traced issue down to rnoaa:::ghcnd_splitvars function. This led me to find that tidyverse was installed on working machine but not on non-working machine. Non-working machine had individual dplyr, tidyr, etc packages installed. Installed tidyverse and both machines return same results now. Must be a small tweak in one of the tidyverse packages. Hopefully this helps someone else w

[2017-02-16 20:38] sckott commented on #200
Thanks for this. Can you paste in session info for the machine that it didn't work for originally but now does so can see what pkg versions changed?

[2017-02-16 20:52] TheBurningMap commented on #200
Here you go. And for the record, I discovered this issue using the countyweather package. It was returning an error in the countyweather::daily_fips function which calls the rnoaa::ghcnd_search function.

R version 3.3.2 (2016-10-31)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United Sta

[2017-02-16 21:22] sckott commented on #195
right, have seen some code that reads using raster, but there's a fair amount of manipulation before that can happen, will keep looking

[2017-02-16 21:36] sckott commented on #200
hmm, all the packages are the same exact versions

[2017-02-16 22:00] TheBurningMap commented on #200
Yeah, I notice that also. I will run a test tomorrow and see if I can reproduce after uninstalling tidyverse. The other thought I has was a aching issue, but I believe I had ruled that out. Also the issue was only with Indian River county stations. I ran the test on Volusia county stations with no problem.

[2017-02-17 13:16] matiocre commented on #200
Hi all
I haven't used that particular function, but sometimes I've got issues
using functions with tibbles (tbl_df) from tidyverse. I believe is related
with the "internal structure" of tibbles and how functions (written
internally in different languages) try to manage tibbles. Usually calling
the tibble with as.data.frame within the function fix everything, and you
can still continue using dplyr

[2017-02-20 17:01] sckott commented on #200
thanks @matiocre

[2017-02-22 01:38] sckott opened #201 "arc2 data"

[2017-02-22 07:52] antoniospars commented on #201
Hi Scott devtools::install_github("ropensci/rnoaa") wont install in R 3.2

[2017-02-22 07:57] antoniospars commented on #201
Downloading GitHub repo ropensci/rnoaa@master
from URL https://api.github.com/repos/ropensci/rnoaa/zipball/master
Installing rnoaa
Error in data.frame(package = package, installed = installed, available = available,  :
  row names contain missing values

[2017-02-22 17:26] sckott commented on #199
Still haven't heard back on this - sending more emails

[2017-02-22 17:46] sckott commented on #201
@antoniospars it wouldn't hurt to upgrade your R version - that's a separate issue

for installing `rnoaa` - what operating system are you on?

[2017-02-22 18:30] #185 closed

[2017-02-22 18:41] antoniospars commented on #201
Am using R 3.2.5 running on Windows 10.

On 22 Feb 2017 20:46, "Scott Chamberlain" <notifications@github.com> wrote:

@antoniospars <https://github.com/antoniospars> it wouldn't hurt to upgrade
your R version - that's a separate issue

for installing rnoaa - what operating system are you on?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<http

[2017-02-22 20:41] sckott commented on #201
trying to get a windows binary for you ..

[2017-02-22 21:33] sckott commented on #201
[rnoaa_0.6.7.9199.zip](https://github.com/ropensci/rnoaa/files/794861/rnoaa_0.6.7.9199.zip)

@antoniospars  can you download and install this windows binary

e.g. like `install.packages("filepath", repos = NULL)`

[2017-02-23 18:38] antoniospars commented on #201
Thanks

On 23 Feb 2017 00:33, "Scott Chamberlain" <notifications@github.com> wrote:

[2017-02-27 22:06] sckott opened #202 "replace httr with crul"

[2017-03-03 00:45] sckott opened #203 "tornadoes problems"
Maëlle reported problems on windows using it...

[2017-03-03 03:06] zxy1219 opened #204 "Temperature and Dew Point"
`Hi, I have download ISD data for about 100 sites using the rnoaa package. The format of temperature (including dew point) seems in two different formats: one is same to the ReadMe file provided by NOAA, which has been scaled by 10; another one looks like in the Celsius degree formation, no scale.

This issue also happens to the "date" attribute. Anyone experienced the same issue with me?

[code]

[2017-03-03 20:09] sckott commented on #204
thanks for the issue @zxy1219

Can you please share your session info and an example of each of the two forms you see

[2017-03-03 20:40] zxy1219 commented on #204
I have uploaded them here:
https://github.com/zxy1219/Working-Log

[2017-03-03 22:24] sckott commented on #204
thanks, will have a look

can  you share your session info too pleasea

[2017-03-06 17:49] mdwhitby opened #205 "Date format differs by Station"
Hello,

Great package, almost everything I need!

I have found a problem that appears to have happened with a recent update I did (not sure if it was tidyverse or Rnoaa).

When I download data from different ISD stations I get 2 different date formats. One is formated as a character, but the other comes in as a date format. An example is below. I used lapply to download stations by year. data[[2]]

[2017-03-06 19:59] sckott commented on #205
thank @mdwhitby - please share what function you are referring to and example code that gives you the two different results

[2017-03-06 20:43] mdwhitby commented on #205
I download the data with the isd() function.  It actually appears to be the same station, but different years (720308-04992 in 2015 and 2016). The relevant output should be in the printed header I included.

[2017-03-06 21:38] sckott commented on #205
First thing is: update `rnoaa` to the latest version on CRAN `v0.6.6` https://cran.rstudio.com/web/packages/rnoaa/  then try again and tell me what you get.

[2017-03-07 18:45] mdwhitby commented on #205
updating did not seem to help. Looking through the source I speculate that
it is actually a problem with the isdparser::isd_parse() function.  on line
59 you "use tibble::as_data_frame(df)". I think tibble is automatically
formating columns, and for some reason the date column is changed only
occasionaly. is there a way to force all columns to be character? Or does
it have to be a tibble? Personal

[2017-03-07 18:56] sckott commented on #205
@mdwhitby thanks for the update.

are you sure the above report is using the latest `rnoaa`?  i only ask because i'm using the exact same version of `rnoaa` on CRAN and I don't get the problem you're reporting - i have tibble `v1.2` as well so that's not different

I haven't seen all your code - it's possible you're doing something that's affecting the output and/or perhaps you have options that l

[2017-03-07 19:38] sckott commented on #199
heard back, progress, not sorted out yet though

[2017-03-07 20:31] mdwhitby commented on #205
I think I finally tracked it down.

When I originally coded I used "regular" R. This used rnoaa 0.6.6 and
cached columns in character formats. I then switched to the MRAN version
(for speed in doing a lot of data), it uses rnoaa 0.6.5 and chached any new
files with the Date format. By deleteing the cache and not switching
between versions the columns remain constaint.

You may consider having a ca

[2017-03-07 20:36] sckott commented on #205
glad you figured it out.

for each version of what?

[2017-03-07 20:41] mdwhitby commented on #205
any new update of rnoaa - say /rnoaa/v066 and when updated /rnoaa/v067.
That would force it to use the cache from that version or rnoaa and make
sure the cleaned data is in the same format.

Michael Whitby
michael.whitby@gmail.com
609-923-0973

On Tue, Mar 7, 2017 at 2:36 PM, Scott Chamberlain <notifications@github.com>
wrote:

[2017-03-07 21:10] sckott commented on #205
Hmm, maybe - i might rather just make sure the docs are clear on this - and maybe i could have a message to the user about checking that their cache

[2017-03-11 16:23] sckott opened #206 "fix travis builds"
e.g. https://travis-ci.org/ropensci/rnoaa/builds/209995688

some silly devtools error

[2017-03-13 17:27] sckott opened #207 "fix readme images"
from the corresponding README.md ones) on the CRAN package web pages are
incomplete, missing 'local' images not available from the web page and
in most cases actually not even shipped with the package.  This clearly
should be changed, so we will move to using '--self-contained' for the
pandoc conversion to ensure that the README.html files are "complete".

needed in the package sources.

in the 'v

[2017-03-21 02:17] sckott commented on #67
meh, closing, too much to do

[2017-03-21 02:17] #67 closed

[2017-03-21 04:19] sckott opened #208 "Write tests for fxns that don't have any yet"
coverage in %

- R/arc2.R: 0.00%
- R/argo.R: 0.00%
- R/caching.R: 0.00%
- R/cmorph.R: 0.00%
- R/defunct.R: 0.00%
- R/ersst.R: 0.00%
- R/homr_definitions.R: 0.00%
- R/meteo_cache.r: 0.00%
- R/meteo-autoplot.R: 0.00%
- R/ncdc_combine.r: 0.00%
- R/onload.R: 0.00%
- R/tornadoes.R: 0.00%
- R/utils.r: 0.00%
- R/vis_miss.R: 0.00%
- R/swdi.r: 1.64%
- R/isd_stations.R: 33.33%

[2017-04-17 11:41] RafaRafa opened #210 "rnoaa does not include updates provided by NOAA."
Why doesn't the `ncdc()` return include the updated data provided by NOAA? These updated files can be found here: ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/superghcnd/

For example:

The call:
    `oout <- ncdc(datasetid='GHCND', stationid='GHCND:USC00137859', startdate = '2017-03-27', enddate = '2017-03-29', datatypeid = 'TMAX')`

Returns:

[code]

Note that there is no value for 2017-03-28. Ho

[2017-04-17 19:03] sckott commented on #210
thanks for opening the issue @RafaRafa

I don't know the answer to your question. I can ask my NOAA contacts though and get back to you here

[2017-04-18 12:39] mauritzvdworm commented on #127
Any update in getting the gefs data using a windows machine?

[2017-04-19 18:55] sckott commented on #127
@mauritzvdworm  I don't think so , follow https://github.com/ropensci/rnoaa/issues/134 for updates on this issue

[2017-04-19 19:01] potterzot commented on #134
I did exchange a few emails with the ncdf4 developer. He's of the opinion that the error is not in ncdf4. I haven't had a chance to look into this further but it's on my list for cleanup things to do this summer.

[2017-04-19 19:02] sckott commented on #134
thanks for update @potterzot !

[2017-04-19 21:47] sckott opened #211 "ghcnd() column types, a bunch of logicals should be character"
via email

[2017-04-19 22:43] #211 closed

[2017-04-19 23:40] sckott opened #212 "Local Climatological Data"
QCLD
https://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-datasets/quality-controlled-local-climatological-data-qclcd

LCD https://www.ncdc.noaa.gov/cdo-web/datatools/lcd

emailed rich baldwin

so far as I can tell only interface to LCD is a GUI web portal

[2017-04-20 17:57] tphilippi opened #213 "add to man page for coops_search"
Could you add to the coops.html page a note that for most if not all data products, the NOAA coops API only vends up to 31 days of data at a time?
[code]
works, but:
[code]
fails with a misleading (but correct) error message
[code]

Also, you _might_ add a trap for this circa line 138 (not sure if this is in your exact style):
[code]
At least for now I suggest adding a note to the documentation an

[2017-04-20 18:54] sckott commented on #212
bulk access avail. at https://www.ncei.noaa.gov/data/global-hourly/access/

[2017-04-20 19:09] sckott commented on #213
what is the coops.html page ?

yes, can definitely document this. do you know where the NOAA docs state this?

that block of code looks pretty good. pull request?

[2017-04-20 21:57] tphilippi commented on #213
coops.html is the man page generated from rnoaa/man/coops.Rd
I used that name because the man page for coops_search is not coops_search.html but rather coops.html.

The NOAA API docs mentions this in a table near the bottom ( (https://tidesandcurrents.noaa.gov/api/#maximum )
(that looks to be the same as the page you link: http://co-ops.nos.noaa.gov/api/#maximum )

If you submit a url with a long

[2017-04-20 22:54] sckott commented on #154
isd internals in `isdparser` pkg now, closing

[2017-04-20 22:54] #154 closed

[2017-04-20 22:58] sckott commented on #165
this is done

[2017-04-20 22:58] #165 closed

[2017-04-20 22:59] #166 closed

[2017-04-20 23:02] sckott commented on #191
get `hoardr` to cran first

[2017-04-20 23:18] sckott commented on #213
ah, okay, the man page for coops.

thanks for the link

I'll add the note to man page, and let you do the code change - next milestone with issues is here https://github.com/ropensci/rnoaa/milestone/10 - want to submit to CRAN relatively soon, within a week or so, but deadline to go later

I'd vote for putting it in here. If you want that feature i'm guessing others do as well. agree it's best not

[2017-04-21 19:41] tphilippi commented on #213
Scott--
My question is whether my "chunk_it" code should go inside coops_search() and other functions, or be a single stand-alone wrapper function `by_chunk(begin_date, end_date, chunk_size, rnoaa_fun, ...)` that could work with more than just coops_search()?  Inside each function has the advantage of transparency to the users: it just works no matter the duration requested.  It has the disadvanta

[2017-04-21 22:10] sckott commented on #213
I agree best as a separate function.

[2017-04-24 20:53] sckott commented on #202
close in favor of #186

[2017-04-24 20:53] #202 closed

[2017-04-27 17:18] tphilippi opened #215 "search_coops() times missing from data$t for requests including leap-forward days (2017-03-12, 2016-03-13)"
**Title should probably change to reflect DST spring-forward connection.**

The CRAN version of coops_search() returns a data.frame with only dates, not dates & times, for requests to the NOAA Tides & Currents API that include 20170312 for station 9410230 (La Jolla CA SIO Pier).  The same issue happens with 20160313 (last year's spring forward date).
Compare (works):
[code]
[code]
To (no times ret

[2017-04-27 18:48] potterzot opened #216 "github large file warning on push"
There is a large pdf that is currently part of the repository that is causing github to throw a warning when pushing. Here is the relevant terminal output (for my local fork):

[code]

[2017-04-27 18:54] sckott commented on #216
thx, having a look

[2017-04-27 19:28] sckott commented on #213
i think your PR sorted this out, clsoing, reopen if not

[2017-04-27 19:28] #213 closed

[2017-04-27 19:39] sckott commented on #216
playing with https://rtyley.github.io/bfg-repo-cleaner/

Does `rnoaa` take a super long time to push and clone? (assuming due to that file)

[2017-04-27 19:48] potterzot commented on #216
It isn't a huge amount of time, but it's definitely slower than any other
repository.

On Apr 27, 2017 12:39, "Scott Chamberlain" <notifications@github.com> wrote:

[2017-04-27 21:35] sckott opened #217 "seaice date bug"
at least locally on my machine the seaice test fails due to this `months()` call https://github.com/ropensci/rnoaa/blob/master/R/seaice.r#L68

played around a bit but no fix yet. seems like it creates an S4 object unfortunately and thus maybe is related to some problem with `methods`

anyone have a solution

[code]

[2017-04-27 22:49] sckott commented on #215
want me to change the title?

[2017-04-27 22:52] tphilippi commented on #215
Please do.  If there is a way for me to change it, I don't know what it is.
I've also tried time_zone = "GMT" instead of lower case, but that didn't
help.

I might be able to get to this next week if you haven't figured out the
problem before then.

Tom 2

"To do science is to search for repeated patterns, not simply to accumulate
facts..."   --Robert MacArthur 1972, Geographical Ecology

"Statist

[2017-04-27 23:25] tphilippi commented on #217
I assume you're trying to get the month.abb for all completed months so far in the current year?  If so,
[code]
appear to work.  I'm not sure why you try to shift the date first then extract the 3 letter month.  Is there some irregularity between format(..., "%b") and month.abb in different locales or languages?

[2017-04-28 00:03] sckott commented on #215
tell me what title you want and i'll put it in, though i think you should be able to  hit the Edit button above and do it (if you open an issue you should have abilitty to change tht title)

[2017-04-28 00:07] sckott commented on #217
yes

if something else works better without the error happy to go with that

this is the error message

`trying to get slot "group" from an object of a basic class NULL with no slots`

doesn't happen on travis as that test is skipped on travis

[2017-04-28 00:19] sckott commented on #216
going to test first on a dummy repo to make sure it works don't want to bork up this repo

[2017-04-28 20:23] tphilippi commented on #217
While my 2 suggestions above work on my computer, I think the cleanest code using only base is:
[code]

[2017-04-28 23:28] tphilippi opened #218 "NOAA ACIS new datasource"
Potential new data source.
Applied Climate Information System
http://www.rcc-acis.org/
API documented at
http://www.rcc-acis.org/docs_webservices.html

This may be the future unified API for NOAA climate data from their Regional Climate Centers.  While some data (e.g., ghcn) are available from other APIs via rnoaa, ACIS appears to have several potential advantages:
* Data from FAA, COOPS, and othe

[2017-04-28 23:42] sckott commented on #218
sounds great @tphilippi

i only ask that fxns stay lowercase `acis_get`, `acis_search`

[2017-05-03 20:19] sckott opened #219 "new sea ice data format"
from email from noaa

not sure if current `seaice()` function uses the same data, just in diff. format, or if above is a new source of data too

[2017-05-04 17:30] sckott commented on #217
thanks @tphilippi

[2017-05-04 17:30] sckott commented on #215
thanks, having a look soon

[2017-05-04 21:45] sckott opened #220 "possibly replace read.fwf in ghcnd_GET() internal fxn, its slow"

[2017-05-04 21:54] sckott opened #221 "ghcnd_GET() bug: coercing factor to integer needs as.character first"

[2017-05-04 22:36] #221 closed

[2017-05-04 22:38] #191 closed

[2017-05-04 23:03] sckott commented on #199
e..g,

[code]

[2017-05-05 17:15] sckott commented on #199
fixed

[2017-05-05 17:15] #199 closed

[2017-05-05 17:16] sckott opened #222 "notes on NEXRAD data access"
https://www.ncdc.noaa.gov/has/HAS.FileAppRouter?datasetname=7000&subqueryby=STATION&applname=&outdest=FILE  (Nexrad Level III data)
NEXRAD Level II data is also part of NOAA's Big Data Project.  Details on that project can be found at the following site: https://www.ncdc.noaa.gov/data-access/radar-data/noaa-big-data-project

above is a GUI solution, asked about programmatic solution:

[2017-05-05 17:38] sckott commented on #210
@RafaRafa  Didn't get a response yet, will email again some more folks

[2017-05-05 18:00] #207 closed

[2017-05-05 20:08] sckott commented on #195
notes

- ftp://ftp.cpc.ncep.noaa.gov/precip/global_CMORPH/README.cmorph.8km_30minute
- ftp://ftp.cpc.ncep.noaa.gov/precip/global_CMORPH/README.cmorph-only.8km-hourly

this is sort of a hot mess, putting off for later

[2017-05-05 20:13] sckott commented on #201
sorted

[2017-05-05 20:13] #201 closed

[2017-05-05 20:44] #206 closed

[2017-05-06 15:44] sckott commented on #210
@RafaRafa Sounds like it's updated or will be soon

[2017-05-07 04:01] shabbychef opened #223 "Break out function to read .dly files directly."
Some users (err, me) might prefer to download the .dly files directly from the NOAA ftp site, rather than rely on _e.g._ `ghcnd_GET`. Thus it would make sense to strip out the functionality here: https://github.com/ropensci/rnoaa/blob/master/R/ghcnd.R#L459-L472 into a separate function.

[2017-05-07 04:16] shabbychef commented on #223
Or possibly just use this:
[code]

[2017-06-15 20:09] sckott commented on #223
So sorry about the delay @shabbychef  - i'm usually not this bad - thanks for opening the issue!

So to be clear, what interface are you looking for? (is `fname` a file path, or a URL?) That in which you already have the file on disk?  Or a URL?  Or is your proposed fxn an internal method, and you'd want the same interface as `ghcnd()` but instead get the `.dly` file?

regarding `readr` - i probab

[2017-06-16 04:09] shabbychef commented on #223
Yes, the imagined use case is that I have already downloaded the `.dly` file, and wish to read it. It seems that the functionality to read a file already exists within `ghcnd`, but could be exposed to a user (err, me). As I wrote in my followup, I replicated the read functionality using `readr`, so this is not exactly a pressing issue for me.

[2017-06-16 17:42] sckott commented on #223
@shabbychef i'll play around and see if it makes sense to add another fxn for use cases where people have either downloaded dly file or a URL already - so reopening for now

[2017-07-05 16:24] marclos opened #224 "Error in curl::curl_fetch_memory(url, handle = handle) : Timeout was reached"
Hello, I am new to using this package and hope to have students using it in the fall. However, I am getting an error at the starting gate and am not sure why.

library(rNOAA)
ncdc_locs(locationcategoryid='CITY', sortfield='name', sortorder='desc')

Error in curl::curl_fetch_memory(url, handle = handle) :    Timeout was reached

NOTE: I deleted my token.

[2017-07-12 17:32] sckott commented on #224
thanks for the report @marclos  sorry for delay was on vacation

looking at it.

what do you mean by

[2017-07-12 17:34] sckott commented on #224
works for me - reran a bunch of times - it's likely that Timeout error was a problem on NOAA's server end, so was a temporary problem.

also note that the `noaa*()` functions have paging, so to get all results  you need to cycle through results with `limit`/`offset` parameters

can you try again, and let me know if working or not

[2017-07-12 17:40] marclos commented on #224
I deleted my token from the code to avoid it being used by others, since the repository is public.

Sent from my iPhone

On Jul 12, 2017, at 10:35 AM, Scott Chamberlain <notifications@github.com<mailto:notifications@github.com>> wrote:

works for me - reran a bunch of times - it's likely that Timeout error was a problem on NOAA's server end, so was a temporary problem.

also note that the noaa*()

[2017-07-12 17:44] sckott commented on #224
ah, good thinking - let me know if it works for you now

[2017-07-13 16:36] marclos commented on #224
Hi there,

Yes, I still get the error – However! The problem seems to be with Rstudio server – NOT your package. I used a local install of R and had no problem. I used Rstudio on a local install – NO problem.

I am doing this with students, so using Rstudio server is pretty useful, it avoids spending weeks trying to teach students how to use files and folders and Macs and PCs which often are old a

[2017-07-13 18:20] sckott commented on #224
Try the request again with curl verbose output and paste in the output of that, so do `> ncdc_locs(locationcategoryid='CITY', sortfield='name', sortorder='desc', config=httr::verbose())`

Of course, make sure to replace/remove your API token from the output

[2017-07-13 20:42] marclos commented on #224
Same error… ☹

ncdc_locs(locationcategoryid='CITY', sortfield='name', sortorder='desc', config=httr::verbose())
Error in curl::curl_fetch_memory(url, handle = handle) :
  Timeout was reached

Marc Los Huertos
Associate Professor, Environmental Analysis

Office:
Seeley G. Mudd, Room 130A
Pomona College
(909) 607-7787 (Note: Change of Number)

Mail:
Environmental Analysis Program
Seeley G. Mudd, Pom

[2017-07-13 20:59] sckott commented on #224
that should have printed out some messages about the http request, like for example:

[code]

paste in that info, removing your token

[2017-07-14 19:16] michaeljakob opened #225 "Dev version cannot be installed on OS X"
I am trying for several hours to install the development version of RNOAA on OS X. I need the dev version because there are several bugs in the stable version that won't let me use another package (but I know it works with the dev version).

(1)
I tried following this tutorial https://github.com/ropensci/rnoaa and first installed GDAL with the OS X package manager (.pkg).

(2) I tried to set the g

[2017-07-14 19:24] sckott commented on #225
thx for the report @michaeljakob ! and sorry about the trouble.

did you try installing `rgdal` as a binary, that is, `install.packages("rgdal")` - looks like there are mavericks binaries on cran - of course if you don't have gdal installed already it wont work  - let me know if that works

[2017-07-14 19:30] michaeljakob commented on #225
I installed "GDAL 2.1 Complete" from http://www.kyngchaos.com/software/frameworks
After this, I restarted R studio and executed ```install.packages("rgdal")``` (success).

`devtools::install_github("ropensci/rnoaa")` still produced the same error as above. What would be the next step?

[2017-07-14 19:39] sckott commented on #225
@michaeljakob ah, it looks like you are on an old R installation. when you do install_github rnoaa, it should grab those pkgs you don't have yet. but i think it's erroring since you're on an old R version (3.1), we're on 3.4.1 now

[2017-07-14 20:01] michaeljakob commented on #225
@sckott thank you, that seems to solve the most problems! However, now I cannot connect to the FTP server anymore.

My complete code looks like this:
[code]

[2017-07-14 20:04] sckott commented on #225
this line `isd_stations_search(lat = 41.79925, lon = -61.33052, radius = 10)` gives zero results - thus the next line gives NA's and then download fails, and so on - so modify your search in the `isd_stations_search` call

[2017-07-14 20:17] michaeljakob commented on #225
Thank you, this solved it!! You are amazing.

[2017-07-14 21:01] #225 closed

[2017-07-18 02:40] michaeljakob opened #226 "Feature request: request data by coordinates (lat/long)"
Many of my fellow researchers and me extensively use RNOAA and really enjoy it.
However, there is one use case that we all share, but it unfortunately is not natively supported.

Usually I have the `latitude`, `longitude` and a `date`. Now I would love to know one of the variables (e.g. `air_temperature` or `wind_speed`) at that exact location and exact date.
Is there an easy way to get e.g. the `

[2017-07-18 04:28] sckott commented on #226
I'm glad you and others find it useful!

Are you looking for data specifically from COOPS? With `ncdc_*()` functions you can at least saerch for stations that within a bounding box for given dates and data types - but then a separate search for the actual data.

[2017-07-19 17:06] michaeljakob commented on #226
Dear @sckott , can you please give an example of such code that, given `latitude`,`longitude`,`specific_date` would select the nearest possible station with `air_temperature` and return it?
I seem not to find a way to do exactly this, which seems like the most obvious request for this package.

[2017-07-19 17:15] michaeljakob commented on #226
Another solution might be to download *all* stations that provide air quality.
Step 2: select all stations that provide air quality on the specific date needed.
Step 3: calculate the distance from my lat/long to the station's location
Step 4: pick the station with the lowest distance

[2017-07-19 17:45] michaeljakob opened #227 "Find all `coops` stations"
I have found the function `coops_search` that takes a `station` parameter, but I was unable to find a function that lists all available stations. How do you download a list with all available stations?

Examples:
[code]

[2017-07-20 00:32] sckott commented on #227
thanks for your question @michaeljakob - I don't know off hand

@tphilippi @jsta any thoughts on how to get a list of all CO-OPS stations?

[2017-07-20 14:45] jsta commented on #227
Look like this info is not exposed through the [API](https://tidesandcurrents.noaa.gov/api/). It says the following:

However, there is a text list at https://www.tidesandcurrents.noaa.gov/stations.html?type=Water+Levels which could be parsed.

[2017-07-20 16:51] tphilippi commented on #227
I now deal with the NOAA ACIS API instead of cdo-web, but the bottom of:
[https://www.ncdc.noaa.gov/cdo-web/webservices/v2#stations]()
 seems to give an example for fetching all stations, or restricted by FIPS.   I don't know if datasetid=COOP would do the trick

The ACIS equivalent ( http://data.rcc-acis.org/StnMeta  see http://www.rcc-acis.org/docs_webservices.html) also includes bounding box qu

[2017-07-20 17:09] sckott commented on #227
thanks for the replies @jsta @tphilippi

right, we have a fxn for searching the NCDC API stations route, but I think @michaeljakob wants to  download all stations in one go, yes?

@michaeljakob if yo use `ncdc_stations`, you can page through results like `ncdc_stations(page = 1, limit = 1000)`, and so on

Thanks for pointing out the list @jsta - though I'd prefer not to scrape since it could break

[2017-07-20 18:19] sckott commented on #226
@michaeljakob Note that we are constrained by the interfaces to data that NOAA provides. So on the one hand there is the ideal way to do something (but that ideal way may vary among people) - and on the other hand, there is what we can do within the constraints of what's possible to do with what NOAA provides.

e.g., here:

[code]

you can take a point location you're interested in and make a boun

[2017-07-20 18:20] sckott commented on #226
What about

[code]

[code]

[code]

[2017-07-21 14:21] michaeljakob commented on #226
@sckott Thank you so much, I really love this solution.
In your first snippet you can also replace the `var="TMAX"` in the function call of `metea_pull_monitors` to make the entire function truly generic (otherwise, even if you supply "TMIN" as `element` it would still return "TMAX".

[2017-07-21 14:21] #226 closed

[2017-07-21 18:39] sckott commented on #226
great, glad you like it, the var=tmax was an oversight, meant to have `element` param pass on to that `var` param

[2017-07-24 18:33] michaeljakob commented on #227
I tried this today and was surprised to find that not a single station (of 1000) was measuring water temperature. This made me think if my code (5 lines) were correct. Could you please confirm this?

[code]

[2017-07-24 18:43] michaeljakob commented on #227
Also, if I select to download the second page, still the same (first page) is downloaded.
`x = ncdc_stations(page = 2, limit = 1000)`

[2017-07-24 19:03] tphilippi commented on #227
My bad!  I saw coops and thought NCDC COOP and not tides & currents CO-OPS.

If you want CO-OPS tides & temperatures data, you can get an xml file of all stations from:
https://opendap.co-ops.nos.noaa.gov/stations/stationsXML.jsp
The file includes lat & long and state, establishment date, plus lists of parameters.
If I had more coffee in me I'd write 3 lines to grab that file and parse it into a d

[2017-07-24 19:27] michaeljakob commented on #227
Hey @tphilippi @sckott thank you so much! That works really smoothly now :)

[2017-07-24 19:27] #227 closed

[2017-08-07 15:54] yuchenw opened #229 "Function ghcnd is not working for some stations."
[code]
I am trying to download weather data from a station. However, the `ghcnd` function is not working for some stations. For example,

[code]
[code]
This shows that there are some station data in `USC00332098`. However, the `ghcnd` function could not download data.

`ghcnd(stationid = "USC00332098")`

`1893` seems to be the earliest year when the station collected data.

If I ran the example co

[2017-08-08 14:31] sckott commented on #229
thanks for your issue!

i just tried that example and it works  for me. I wonder if it was a temporary failure due to e.g., their network down. can you try it again and see if it still doesn't work

[2017-08-08 15:34] yuchenw commented on #229
Thanks for looking into it. I just ran `ghcnd(stationid = "USC00332098")` and I still got the same error message. But `ghcnd(stationid = "AGE00147704")`  worked fine.

[2017-08-08 16:15] sckott commented on #229
okay, run it again, but like `xx <- ghcnd(stationid = "USC00332098", config=httr::verbose())` to get verbose curl output - paste in the curl messages here

and it it fails again, run `traceback()` and paste in output of that

[2017-08-08 16:42] yuchenw commented on #229
Thanks. When I ran `xx <- ghcnd(stationid = "USC00332098", config=httr::verbose())`, I got the same error message. Running `traceback()` showed the output as follows:

[code]

[2017-08-08 20:16] sckott commented on #229
I’ll have to try this on a windows machine as it seems like another windows problem

[2017-08-08 20:23] yuchenw commented on #229
Thanks for your time and help.  It may not be relevant, but I can get the weather data of this station using the `ncdc` function, although it would be great if the `ghcnd` function can work.

[2017-08-09 17:42] yuchenw commented on #229
Today I had a chance to test the same code on a windows machine with `R3.3.2`. It works. Here are the session information.

[code]

[2017-08-09 17:45] sckott commented on #229
@yuchenw good to know , thanks

[2017-08-12 20:30] lcsma opened #230 "gefs function returning inconsistent data"
using gefs function seems to be returning me inconsistent data.  Can you please check?
As an example:

[code]

`data$data` is a data frame with the returning results,  I am assuming ens column is the index of model
ensemble (model used), time8 is the forward time for the forecast.

if i look at all forecasts for `time8 == 66`, `subset(data$data, time8==66)`, there are 21 rows returned, but with en

[2017-08-13 03:06] sckott commented on #230
thanks for the issue!  please paste in your `devtools::session_info()` or `sessionInfo()`

[2017-08-13 13:11] lcsma commented on #230
Here are the session_info:

Session info ------------------------------------------------------------------
 setting  value
 version  R version 3.3.3 (2017-03-06)
 system   x86_64, linux-gnu
 ui       X11
 language (EN)
 collate  en_US.UTF-8
 tz       America/Toronto
 date     2017-08-13

Packages ----------------------------------------------------------------------
 package    * version  date

[2017-08-15 12:51] lcsma commented on #230
Have you had a chance to look at this issue?  Just wondering if I am misunderstanding something or it is a problem with the library.

Thanks!

[2017-08-15 16:35] sckott commented on #230
having a look today

[2017-08-16 01:51] sckott commented on #230
hmm, i'm not sure -

@potterzot any insight on this?

[2017-08-16 16:56] sckott commented on #229
@yuchenw first, it's a good idea to run the latest R distribution, we're currently on 3.4.1

looking into the error still

[2017-08-16 19:23] sckott commented on #229
I can't replicate this problem on 3.3.2 or 3.4.1 on windows - so closing this for now

[2017-08-16 19:23] #229 closed

[2017-08-18 04:14] lcsma commented on #230
Thanks for looking into this.  I am really hoping to make use of those data.

[2017-08-19 20:53] potterzot commented on #230
@lcsma Thank you for finding this. I'll take a look at it this weekend and see what's going on.

[2017-08-23 17:10] potterzot commented on #230
Submitted a PR to fix this issue. The time index was not correctly allocated in the returned data.frame.

The name of the time variable seems to vary, and the returned times are in hours since the forecast date and time, so that if the forecast time and time are "20170822" and "0000" then a time of 72 means 2017-08-25 at 0000.

[2017-08-24 05:37] sckott commented on #230
thanks @potterzot

[2017-08-24 05:37] #230 closed

[2017-08-24 05:39] sckott commented on #230
@lcsma can you reinstall and try again and let us know if works. `devtools::install_github("ropensci/rnoaa")`

[2017-08-28 04:04] lcsma commented on #230
Sure. Just came back from a trip.  Will try it tomorrow.

Thanks

[2017-08-28 14:13] lcsma commented on #230
It looks good now.  Thanks!

[2017-08-28 14:51] sckott commented on #230
great, glad it works

[2017-09-07 02:02] sckott commented on #224
closing due to inactivity

[2017-09-07 02:02] #224 closed

[2017-09-07 03:05] sckott commented on #210
it's fixed now, closing

[2017-09-07 03:05] #210 closed

[2017-09-07 18:11] sckott commented on #195
moving to next milestone - if anyone wants to get this working, that'd be great - file is at `inst/ignore/cmorph.R`

[2017-09-07 18:24] sckott commented on #204
@zxy1219 sorry it's been so long.

so things have changed lots. we now don't do any transformations by default on the output data, and we by default include a lot more columns of data.

Given those changes it's now hard to compare to those csv files you shared in that repo.

Given that we don't do any transformations on the data, but simply get the data for the user, i'll close this for now - we c

[2017-09-07 18:24] #204 closed

[2017-09-07 18:26] sckott commented on #142
closing this since we have #175 open

[2017-09-07 18:26] #142 closed

[2017-09-22 15:30] andypicke opened #232 "Error in strsplit when fetching data"
When I run the following code to retrieve data
[code]
I get the error message

[code]

sessionInfo()
R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C

[2017-09-22 16:56] sckott commented on #232
thx @andypicke

i get same and traceback gives

[code]

looks like problem in internal fxn `parse_ncdc`

[2017-09-22 20:30] #232 closed

[2017-09-22 20:31] sckott commented on #232
@andypicke reinstall `devtools::install_github("ropensci/rnoaa")` and trya gain

[2017-09-25 14:21] andypicke commented on #232
Thanks, that works now.

On Fri, Sep 22, 2017 at 2:31 PM, Scott Chamberlain <notifications@github.com

--
Andy Pickering
andypicke@gmail.com
Linkedin <https://www.linkedin.com/in/andypicke/>
Github <https://github.com/andypicke>
https://andypicke.github.io/

[2017-10-04 17:19] raboinab commented on #212
Any update to this?

[2017-10-04 18:42] sckott commented on #212
looks like we can move ahead with this now. will report back when we have a function to try out

[2017-10-05 13:01] sckott opened #233 "odd values in ncdc() fxn"
[code]

Do you have any idea how to interpret these numbers?  A TMIN of -66 just seems odd J

[2017-10-08 15:24] andypicke opened #234 "Is there a way to search for US airport weather stations?"
I'm interested in getting historical daily weather data from US airport stations.

[2017-10-09 21:46] sckott commented on #208
thanks @jonmcalder for dropping by.

I say go for it.

all that make web requests should be skipped on cran - but for the most part all can be run on the CI's

note that: on pull requests, if there are any environment variables (e.g., for `ncdc()` fxn) they aren't avail. to pull requests, so any that depend on env vars may fail, but i think `ncdc_*` fxns are the only ones affected

[2017-10-09 21:51] jonmcalder commented on #208
Cool - thanks for the quick response!

[2017-10-13 05:47] grandpotato commented on #208
Is there any resources you'd recommend reading or guidelines that should be
followed in developing these tests?

On Tue, 10 Oct 2017 at 04:51 Jon Calder <notifications@github.com> wrote:

[2017-10-13 12:06] jonmcalder commented on #208
Hi @grandpotato! Hopefully @sckott will chime in with some more concrete suggestions here, but I'd say you could start by looking at the existing tests in [tests/testthat](https://github.com/ropensci/rnoaa/tree/master/tests/testthat) and trying to emulate them.

Also read through Hadley's chapter on [tests in R packages](http://r-pkgs.had.co.nz/tests.html) if you haven't already.

And if you're go

[2017-10-13 17:52] sckott commented on #208
What @jonmcalder covers it I think.

Some requests from my side:

- try to write tests that take as little time as possible so that test suite runs as quickly as possible - i know I can do better on this front
- good to know if tests run on all platforms, which will happen on Travis when doing a PR

let me know if you have any questions

[2017-10-14 14:20] jonmcalder opened #235 "argo_buoy_files() is broken"
Presumably the endpoint has changed slightly since `argo_buoy_files()` hits an index page and isn't parsing the html wrapping the file list (see below `reprex`).

[code]

<details><summary>Session info</summary>

[code]

</details>

[2017-10-15 06:10] sckott commented on #235
thanks, i can't replicate that problem locally on osx, will look at tomorrow

but i do see problems in other argo fxns, e.g., `argo_search()` is always failing with `too many connections` - it's not an R problem, it may clear  up soon if it's a server problem on their end

[2017-10-15 16:01] sckott commented on #235
okay, check on rhub windows was able to replicate https://builder.r-hub.io/status/rnoaa_0.7.0.9105.tar.gz-48c7cc1bb64447919089bd8f97cfd32f#L7329

[2017-10-16 06:18] grandpotato commented on #208
@jonmcalder Good idea on not doubling up. I'm thinking I'll just start working  from the bottom of the list and see how I go. Splitting it in half makes me feel accountable. And that's too much for me right now haha

[2017-10-16 07:13] jonmcalder commented on #208
Cool - no pressure.

[2017-10-23 08:07] kevin-ht-ho opened #238 "isd_stations and isd_stations_search different parameter names for "lat" and "long""
I noticed that the function isd_stations_search renames the parameters for "lat" and "lon" to "latitude" and "longitude".

This is different to isd_stations which keeps parameters as "lat" and "lon".

Is this desired behaviour?

[code]

` [1] "usaf"         "wban"         "station_name" "ctry"         "state"        "icao"         "lat"          "lon"
  "elev_m"       "begin"        "end"`

[code]

[2017-10-23 17:28] sckott commented on #238
i think i changed lat/lon to latitude/longitude because we used `meteo_distance` internally within `isd_stations_search`, which uses `meteo_process_geographic_data`, which expects latitude/longitude column names  https://github.com/ropensci/rnoaa/blob/master/R/meteo_distance.R#L225-L226

it probably would be easiest to change back column names after coming back from the `meteo_distance` call withi

[2017-11-02 16:51] sckott opened #241 "seaice urls changed to v3"

[2017-11-02 17:35] #241 closed

[2017-11-02 17:40] sckott commented on #212
@raboinab @matttyride @ethankale can you reinstall `devtools::install_github("ropensci/rnoaa")` and try `lcd` function, let me know if we should change anything

[2017-11-06 22:59] ethankale commented on #212
Tried out the `lcd` function, worked great.  Interesting note, though - a lot of the columns are actually multiple comma-delimited columns pasted together, and need to be parsed further to separate the QA from the data.  For example:

    d <- lcd(station = "72792024227", year = "2017") %>%
      filter(report_type == "FM-15") %>%
      separate(wnd, c("w.angle", "w.a.qa", "w.type", "w.speed.mps",

[2017-11-07 01:09] sckott commented on #212
thanks @ethankale

right, there is some data to still be cleaned up there. Will have a look into it

[2017-11-09 18:43] sckott opened #242 "cpc_prcp - failing on some years"
think there was changes in file extensions, 2006-2009 for GAUGE_GLB have `.Rt.gz` now

[2017-11-09 18:54] #242 closed

[2017-11-11 00:29] sckott opened #243 "swdi distances seem broken"
via #239

[code]

|        lon|      lat|  distance|
|----------:|--------:|---------:|
| -101.12693| 34.48964| 214.79856|
|  -98.64874| 36.41111| 514.18312|
| -102.72588| 33.20819|  88.20470|
| -101.41145| 32.89070|  58.95814|
| -101.96767| 33.13551|  48.52061|
| -101.38741| 32.88153|  60.71622|

distance values are in km, but still converting to miles means they are all much greater than 15 mile

[2017-11-11 00:35] sckott commented on #243
have emailed NOAA folks

[2017-11-14 19:32] sckott commented on #243
heard back. radius/etc. stuff is not operational - they'll update docs soon, ideally wait till those are updated to update here.

[2017-11-14 19:33] sckott commented on #243
docs at https://www.ncdc.noaa.gov/swdiws/

[2017-12-01 05:49] sckott opened #246 "blended sea winds"
https://www.ncdc.noaa.gov/data-access/marineocean-data/blended-global/blended-sea-winds

FTP ftp://eclipse.ncdc.noaa.gov/pub/seawinds/

on google scholar https://scholar.google.com/scholar?q=%22blended+Sea+Winds%22&hl=en&as_sdt=1%2C38&as_vis=1&as_ylo=&as_yhi=

OPeNDAP/THREDDS server https://www.ncei.noaa.gov/thredds/blended-global/oceanWinds.html

[2017-12-01 06:42] sckott commented on #53
closing

[2017-12-01 06:42] #53 closed

[2017-12-01 06:43] sckott commented on #218
any thoughts on this @tphilippi ?

[2017-12-01 06:55] sckott commented on #141
think we can go with `raster` for reading grib files

[2017-12-01 16:04] sckott commented on #141
http://polar.ncep.noaa.gov/waves/download.shtml?

[2017-12-01 17:14] tphilippi commented on #218
I've been working more on species observations the past few months.  I have on my to-do list either helping my colleague who wrote the NPS ACIS R functions wrap them into a stand-alone package, or change the function names, tweak the code style (mostly global replacements for variable names) and submitting to rnoaa.  _Maybe_ I'll take a day or 2 to do this over the holidays, as I have a few weeks

[2017-12-01 17:20] sckott commented on #218
Thx for the update and explanation @tphilippi

[2017-12-01 18:46] jebyrnes commented on #141
Yes! ftp://polar.ncep.noaa.gov/pub/history/waves in particular has the hindcasts, which is often what folk want!

On Dec 1, 2017, at 11:04 AM, Scott Chamberlain <notifications@github.com<mailto:notifications@github.com>> wrote:

http://polar.ncep.noaa.gov/waves/download.shtml?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/ropens

[2017-12-01 19:28] sckott commented on #246
just handling netcdf files for now, not dealing with http://www.cpc.ncep.noaa.gov/products/wesley/wgrib2/ieee.html files

[2017-12-01 19:29] sckott commented on #246
done in 00b9690c78ff2527be69c6e682f0292f89be9c19

[2017-12-01 19:29] #246 closed

[2017-12-01 19:33] sckott commented on #141
okay, thanks!

[2017-12-08 04:14] asrivas3 opened #247 "ghcnd_search() produces data ordered by month and not by date"
[code]

[code]

[2017-12-08 18:05] sckott commented on #247
thanks @asrivas3 please include the output of  `sessionInfo()` in a code block. (see help on code blocks here https://help.github.com/articles/creating-and-highlighting-code-blocks/ )

to get just a certain column index to it like `data$prcp$prcp`

[2017-12-08 21:40] asrivas3 commented on #247
[code]

[2017-12-15 00:30] asrivas3 commented on #247
Please let me know about any solution.

[2017-12-19 09:55] xmagicanderson commented on #181
This happened to me too. What worked for me was deleting the ".rds" file in my working directory/my documents.

[2017-12-19 19:14] sckott commented on #181
thanks @xmagicanderson for your comment on this - good to know

[2018-01-10 17:08] raboinab commented on #212
This is the ISD data. It is not the LCD data so its a bit misleading. the observations from the ISD to the LCD they don't match. True the LCD originates from ISD but also includes wet bulb temp, hourly visibility, hourly dew point etc...the true label for this argument label is ISD not LCD. FYI

[2018-01-18 19:26] sckott commented on #218
ping @tphilippi

[2018-01-20 17:28] sckott opened #248 "cpc_prcp: bug in some years (dates < 2008-12-31)"
related to #242

thought I had fixed this, but user reported problem back in November 2017 - finally gettting to this

Results are not turning out correctly, not sure why yet.

e.g.

[code]

[code]

<img width="1031" alt="screen shot 2018-01-20 at 9 27 04 am" src="https://user-images.githubusercontent.com/577668/35186140-19db2eb8-fdc4-11e7-92ff-288142dd7aff.png">

[code]

<img width="1047" alt="sc

[2018-01-20 19:37] #248 closed

[2018-01-20 19:55] #247 closed

[2018-01-20 19:55] sckott commented on #247
@asrivas3 reinstall and try again - let me know if it works for you now

[2018-01-20 20:40] #223 closed

[2018-01-20 20:40] sckott commented on #223
@shabbychef added a new function `ghcnd_read` to the pkg, reinstall and let me know what you think. Didn't use `readr` since I don't want to intorduce another dependency

[2018-01-21 06:36] shabbychef commented on #223
fair enough re: `readr`. I'll check it out.

[2018-01-21 06:50] sckott commented on #234
hi @andypicke so sorry about such a long delay in answering

i believe there is, i'll get an answer to you in the morning ...

[2018-01-21 06:53] sckott commented on #158
@lukas-rokka  any thoughts on this?

[2018-01-21 06:53] #46 closed

[2018-01-21 07:15] lukas-rokka commented on #158
I don't have time work on this issue in any near future. You can close it, @sckott.

I've started using reanalysis data instead of station observation data, and then missing data is already handled.

[2018-01-21 16:21] sckott commented on #158
thansk @lukas-rokka - okay, will close

[2018-01-21 16:21] #158 closed

[2018-01-21 18:17] sckott commented on #234
does this help https://discuss.ropensci.org/t/search-for-us-airport-weather-stations-w-rnoaa/1034

[2018-01-22 13:31] jsta commented on #234
Works great! After that you can pull the data with `meteo_pull_monitors`. Its too bad that the minimum available date on most of these is fairly recent.

[2018-01-22 16:21] sckott commented on #234
@jsta thx for the tip about pulling the dat. bummer, didn't look at the dates :(

[2018-01-22 16:21] #234 closed

[2018-01-22 17:03] andypicke opened #249 "Looks like rnoaa doesn't work during shutdown?"
Just verifying it's not something on my end...

[2018-01-22 18:17] sckott opened #250 "homr: swap to crul and check for content-type"
during shutdown noticed that they give back a 200 when redirecting to gov shutdown page, but of course then give back html content type, so check content type in case 200 but there was an error

[2018-01-22 18:18] sckott commented on #250
fix in cc1ed4e23bc64468386afa574b58bd5d0c577994

[2018-01-22 18:18] #250 closed, assigned to nobody

[2018-01-23 19:25] sckott opened #251 "buoy test failures - see if this is just temporary or if need to fix fxn"
[code]

[2018-01-23 19:32] andypicke commented on #233
Also having a similar issue. Trying to get daily min/max temps, and getting crazy values. Tried converting from Kelvins, still didn't make sense. According to docs, should be in Fahrenheit or Celsius.

[code]

[2018-01-23 19:34] sckott commented on #233
thanks @andypicke will make sure to look into this now since at least 2 people have reported problems

[2018-01-23 20:50] andypicke commented on #233
I looked at the source data for Daily Summaries at https://www.ncdc.noaa.gov/cdo-web/datasets . If you look at the data samples, the values seem correct in the pdf version (https://www1.ncdc.noaa.gov/pub/data/cdo/samples/GHCND_sample_pdf.pdf), but not the csv/excel/ascii versions (https://www1.ncdc.noaa.gov/pub/data/cdo/samples/GHCND_sample_ascii.dat).  So it might be an issue with the data, not w

[2018-01-23 20:51] sckott commented on #233
perfect, thanks

[2018-02-08 17:39] udayguntupalli opened #253 "Unable to access NOAA data using key e-mailed"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hello,
         First of all thank you for putting in so much work and sharing it. I have installed the rnoaa package and I have received the key after registering on the EIA website. I have saved the key as a .Renviron variable per the recommendation in the documentation .
`Sys.setenv(NOAA_KEY = "my-token")
Key <- Sys.

[2018-02-08 17:47] sckott commented on #253
thank you for the issue @udayguntupalli and for providing your R session info

What is the link for the EIA website?  I'm not sure what that is. The ncdc functions work with the NCDC API, where you can get a token at https://www.ncdc.noaa.gov/cdo-web/token

[2018-02-08 17:52] udayguntupalli commented on #253
@sckott ,
     Thank you for the quick response.
     https://www.ncdc.noaa.gov/cdo-web/token - I have used the same link as you have posted from the EIA website for the token. Is there a separate token that I need to request for the other datasets ?
     Despite acquiring the token from this website, I failed at being able to use the ncdc_stations and ncdc_locs functions. Could you help me unders

[2018-02-08 18:13] sckott commented on #253
its possible

[2018-02-08 18:16] sckott commented on #253
(Sorry, accidentally closed there)

there's a few possibilities.

1. The token you got isn't somehow recognized by NOAA yet, but will hopefully be soon, i haven't heard of this happening before, but its possible

2. somehow rnoaa isn't picking up your key. can you try running `ncdc_stations(datasetid='GHCND', locationid='FIPS:12017', stationid='GHCND:USC00084289', config=httr::verbose())` and make

[2018-02-08 18:21] udayguntupalli commented on #253
@sckott ,
       I ran the exact code that you have provided and I see the token being passed;
`
ncdc_stations(datasetid='GHCND', locationid='FIPS:12017', stationid='GHCND:USC00084289', config=httr::verbose())
-> GET /cdo-web/api/v2/stations/GHCND:USC00084289?datasetid=GHCND&locationid=FIPS%3A12017 HTTP/1.1
-> Host: www.ncdc.noaa.gov
-> User-Agent: libcurl/7.56.1 r-curl/3.1 httr/1.3.1
-> Accept-En

[2018-02-08 18:56] sckott commented on #253
Okay, so it sure seems like NOAA isn't recognizing it as an acceptable key

Email ncei.orders@noaa.gov and ask if somehow you're key isn't be recognized as acceptable

[2018-02-08 19:31] sckott opened #254 "CFS forecast data"
https://www.ncdc.noaa.gov/data-access/model-data/model-datasets/climate-forecast-system-version2-cfsv2

looks available via FTP as grib files

[2018-02-09 18:38] udayguntupalli commented on #253
@sckott ,
 They gave me a new key and I am able to connect. I intend to use the package to explore the data. Thanks a lot for the great contribution.

Uday

[2018-02-09 18:38] #253 closed

[2018-02-09 18:46] sckott commented on #253
great, glad you sorted it out. sorry about the trouble.

[2018-02-10 14:18] udayguntupalli opened #255 "Is there a way to generate a bounding box co-ordiantes ?"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

@sckott ,

I am following the tutorial you have kindly put together here (https://recology.info/2015/07/weather-data-with-rnoaa/) . I like the idea of scouring for available stations within a bounding box . However, it is not clear how the bounding box vertices were generated.

I looked around to come up with the code b

[2018-02-10 18:05] sckott commented on #255
thanks for your question @udayguntupalli

what NOAA data do you want to get, because some of the data sources have ability to do that search for you

[2018-02-10 18:07] udayguntupalli commented on #255
@sckott ,
       I am primarily interested in the daily summaries, monthly summaries and precipitation data (both 15 minute and hourly)

[2018-02-10 18:16] sckott commented on #255
from NCDC? (i.e., the `rnoaa::ncdc` functions)

[2018-02-10 18:24] udayguntupalli commented on #255
@sckott ,
  Yes . I am looking at this tutorial you put together. https://recology.info/2015/07/weather-data-with-rnoaa/.

 Is there a better function or resource to pull out the data that is made available ?

Best
Uday

[2018-02-10 18:27] udayguntupalli commented on #255
@sckott ,
     Is there a difference between isd_stations() vs rnoaa::ncdc ?
     It seems more prudent to have one function call to isd_stations() to retrieve a master list and then match by geocoding the desired station for a chosen latitude and longitude

[2018-02-11 17:56] sckott commented on #255
so you can search for NCDC stations using `extent` param like `ncdc_stations(extent=c(47.5204,-122.2047,47.6139,-122.1065))`

but that doesn't answer the question of how to get a bounding box

[2018-02-11 18:02] sckott commented on #255
The `isd` data is from an FTP server, while the `ncdc` functions pull from that API that you got a token for. So the data access is different. FTP is better for when you need A LOT of data.

There is some overlap between the two data sources I think, but I'm not sure on the details.

[2018-02-13 03:49] udayguntupalli commented on #255
@sckott ,
     I have learned to leverage your inbuilt functions like meteo_nearby_stations to avoid the need for a bounding box. So I am able to address this issue.

[2018-02-13 03:49] #255 closed

[2018-02-13 03:53] udayguntupalli opened #256 "Unable to pull either monthly_normal or hourly_normal"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[code]

I tried to use the ncdc function to pull NORMAL_HLY and NORMAL_MLY data. In both cases - for more than one ghcnd station, I keep receiving a message of no data found.
Wondering if I am using the function correctly ? Can you provide an example of pulling NORMAL_MLY data please for any GHCND station

[2018-02-17 15:38] mondorescue opened #257 "Error in deg * pi : non-numeric argument to binary operator"
I am attempting to run this code.

[code]

I end up getting this error `Error in deg * pi : non-numeric argument to binary operator`. I've tried the `radius` parameter and got the same error. Also, I've tried `isd_stations_search()` and got the same error message. Any suggestions on how to resolve this issue?

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-02-17 17:14] sckott commented on #257
thanks for reporting @mondorescue
I can't replicate the error on my machine. Can you run `traceback()` after running that code again and share the output, it should drill down through the sequence of code that lead to the error

[2018-02-17 18:11] mondorescue commented on #257
@sckott thanks for the quick response. The `traceback()` command was helpful. The issue was with `deg2rad`. After `?deg2rad`, I confirmed that it requires a numeric. So, I looked at my `locations` data frame and found this:

[code]

That's messed up! It appears that my R is corrupted. I'll have to reinstall.

I forced the latitude and longitude values `as.numeric`, and the `meteo_nearby_stations`

[2018-02-19 01:04] sckott commented on #257
@mondorescue great, glad you sorted it out.

If you don't mind I'ld like to reopen this, and make a fix so that if we can coerce character to numeric then we don't have to fail, OR at least fail with a meaningful message that the user has to pass in numeric values.

[2018-02-20 22:11] sckott commented on #255
great, glad you sorted it out!

[2018-02-20 22:12] sckott commented on #255
@udayguntupalli i've stared a little pkg to make it easier to get a bounding box https://github.com/ropensci/bbox if it helps at all

[2018-02-20 22:32] sckott commented on #256
thanks, will have a look

[2018-02-21 23:36] sckott opened #258 "`autoplot.meteo_coverage` not working, error with ggplot2"
thoughts @geanders  ?

[code]

gives

[code]

<details> <summary><strong>Session Info</strong></summary>
[code]
</details>

[2018-02-22 13:10] jsta commented on #258
This can likely be solved by either using `inherit.aes=FALSE` or `ungroup(obs)`. See https://github.com/mjskay/tidybayes/issues/100

[2018-02-22 19:27] sckott commented on #218
ping @tphilippi any thoughts? Is this still going to happen?

[2018-02-22 20:21] #258 closed

[2018-02-22 20:21] sckott commented on #258
thanks a ton @jsta 👍

[2018-02-22 20:24] geanders commented on #258
Sorry to be late to the conversation. Agreed, thanks @jsta!

[2018-02-22 20:27] sckott commented on #258
@geanders feel free to make any changes that you think are better - i'm most definitely not an experienced ggplot2 user

[2018-02-22 20:32] geanders commented on #258
Sure, I'll take a look. I can't remember off the top of my head if this function will potentially be passed anything that's not grouped and, if so, if running `ungroup` on something without grouping has the potential to cause any problems here.

[2018-02-22 20:40] sckott commented on #258
agree, i worry that could cause problems, not sure

[2018-02-22 23:10] andypicke commented on #233
Heard back from NOAA on this. The daily Tmin and Tmax values are in tenths of degrees C.

[2018-02-22 23:33] sckott commented on #233
awesome, thanks

[2018-03-21 20:43] tungmilan opened #259 "Data obtained by rnoaa different from the data downloaded via cdo-web?"
Hello,

I was trying to get the data for `GHCND:USC00456789` station but noticed that the data I got from `rnoaa` were quite different from what I downloaded online via [cdo-web](https://www.ncdc.noaa.gov/cdo-web/search) tool.

Did I do something wrong? Thanks!

**Code used**

[code]

![](https://i.imgur.com/hlUY8a7.png)

Created on 2018-03-21 by the [reprex package](http://reprex.tidyverse.org) (

[2018-03-21 21:09] sckott commented on #259
thanks @tungmilan can you include your `sessionInfo()` pleaes

[2018-03-21 21:16] tungmilan commented on #259
Here you go

[code]

[2018-03-26 23:49] sckott commented on #259
thanks @tungmilan I think you were downloading data from the cdo-web web GUI tool using imperial units (not metric). If you download the metric units, it should be the same IF you also change your code to adjust the `PRCP` data from `rnoaa::ncdc()` to only divide by 10 instead of 100.

[code]

<img width="841" alt="screen shot 2018-03-26 at 4 46 03 pm" src="https://user-images.githubusercontent.co

[2018-03-27 04:08] tungmilan commented on #259
Thanks @sckott ! So the information in this PDF file is not correct?
ftp://ftp.ncdc.noaa.gov/pub/data/cdo/documentation/GHCND_documentation.pdf

[code]
What would be the correct doc to use?

[2018-03-27 22:43] sckott commented on #259
these docs ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/readme.txt in the ftp for ghcnd data seems to line up with what the API returns in the `ncdc()` function

[2018-03-28 03:37] tungmilan commented on #259
Thanks again @sckott !

[2018-03-28 03:37] #259 closed

[2018-03-28 22:38] #218 closed

[2018-03-29 21:28] sckott opened #260 "NASA GPM precip data"
https://pmm.nasa.gov/data-access/downloads/gpm
https://disc.gsfc.nasa.gov/information/howto/5761bc6a5ad5a18811681bae/how-to-download-data-files-from-http-service-with-wget?keywords=wget

[2018-04-12 19:33] johnrharley opened #261 "incorrect station ids"
The included list of buoys as given by buoy_stations() returns a number of stations (especially in [Southeast Alaska](http://www.ndbc.noaa.gov/maps/SoutheastAlaska_inset.shtml)) with single digit values in the station column, which are incorrect and cannot be passed into the buoy() command.

I believe this is because these buoy ids are 5 digit alphanumeric identifiers (i.e. JNEA2) rather than the

[2018-04-12 21:47] sckott commented on #261
thanks for the issue @johnrharley

just fixed

[2018-04-12 21:49] sckott commented on #261
updated the cached data.frame in the pkg, and chagned the code internally to use async requests so it runs faster, and we i think correctly grab the station id now.

See what's cached with `buoy_stations()` and you can try `buoy_stations(TRUE)` to download new version if you like (though right now shouldn't differ from what was just cached in the pkg)

[2018-04-13 23:03] johnrharley commented on #261
Thanks Scott, I didn't try to download a new version but the cached data look great.

[2018-04-13 23:03] #261 closed

[2018-04-13 23:48] sckott commented on #261
great, glad it works

[2018-04-30 21:16] jebyrnes opened #262 "allbuoys station doesn't match buoys datasets"
Let's say I do the following
[code]

One column is id. Now, if I wanted to get the lat/long of all buoys that had stdmet measurements, one would presume I could get that from `allbuoys()` using a join. However

1) allbuoys produces a stations column instead of id which is fine, except...
2) it appears that any station with letters in its name gets its numbers cutoff. For example

[code]

produces

[2018-04-30 21:17] jebyrnes commented on #262
N.B. many station names are NA, leading me to suspect there's an as.numeric lurking somewhere...

[2018-05-01 16:49] sckott commented on #262
thanks @jebyrnes !

I imagine you are not on the latest github version? Can you update to the latest version and tell me if it works? we should have fixed this, see https://github.com/ropensci/rnoaa/issues/261

[2018-05-03 23:47] sckott opened #263 "storm_shp not working"
[code]

[2018-05-07 20:14] amoeba opened #264 "GHCND values off by roughly one order of magnitude"
I think this could be user error but I haven't yet figured out my mistake. The only thing I can think of is that the API returns the data as integers to avoid issues with floating point numbers and, to do that, they multiply these values by 10.

[code]

Returns 31.5 when I expect a value around -3 (C). I ran the same code for other years and observed a similar result.

<details> <summary><strong>S

[2018-05-07 22:38] sckott commented on #264
thanks @amoeba  see also https://github.com/ropensci/rnoaa/issues/259

There's lots of data that we're pulling in in this pkg, so we aren't doing data transformations for the user, but rather trying to get the data.

for the variable `TAVG` we need to divide the values by 10 since it's in tenths of degrees C.

----

Do you think it's a good idea to do these data conversions for users?  many or mos

[2018-05-07 22:50] amoeba commented on #264
Ah, sorry for the dupe. Search failed me.

This is the perennial problem with (tabular) data isn't it: Divorcing the data from the metadata, esp. units? Some folks are playing around a bit with this in https://github.com/ropensci/EML (this being not losing units information on tabular data).

The core issue I had as a user of the package was that the NOAA API doesn't document any of this or provid

[2018-05-08 19:16] amoeba commented on #264
Is this one of those things doesn't scale well in terms of developer time? I'm kind of a fan of API packages being as simple as possible so that (1) the user is least surprised most of the time and (2) the user gets the same result when they use the API with different clients (curl, python, r, etc.) rather than encountering language-specific behaviors.

I think this is the most sane way to go. My

[2018-05-08 23:45] sckott commented on #264
probably yes

if you're offering to help ... please do - i guess we should open new issues for any new work though

[2018-05-08 23:48] amoeba commented on #264
Yeah I for sure am. I'll try to do this relatively soon. Thanks!

[2018-05-08 23:48] #264 closed

[2018-05-09 00:04] amoeba opened #265 "Edit readme and vignettes to note and properly convert GHCN values"
I was confounded in https://github.com/ropensci/rnoaa/issues/264 with NOAA's API return value of "tenths of a degree C" for GHCN temperature data and has to ask for help. @sckott deftly linked me the documentation for the dataset over on ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/readme.txt which does a much better job than the NOAA API docs do in documenting the dataset. I certainly could've don

[2018-05-10 16:59] sckott commented on #265
Thanks for this. Looking forward to your suggestions

[2018-07-20 23:09] sarahgrogan opened #266 "ncdc returns values that are too high"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

I suspect a bug with ncdc().

The values returned are much higher than expected/reasonable (e.g., temps < 200 for one station in Lubbock, TX). I also pulled the same data set using NOAA's manual query, which had different & correct data, temps closer to 95F.  I looked at TMIN, TMAX, and PRCP and all three were inflated

[2018-07-23 18:58] sckott commented on #266
thanks very much for this @sarahgrogan !

we've had related questions, e.g. #233  - in that issue, we found out that TMAX and TMIN are in 1/10 of degrees C, so for your example I'd do:

[code]

the example

[code]

<img width="917" alt="screen shot 2018-07-23 at 11 57 51 am" src="https://user-images.githubusercontent.com/577668/43097026-ab712206-8e6f-11e8-9919-64fa2a1c8f86.png">

[2018-07-23 19:07] sckott commented on #266
wrt how we can improve the situation:

1. we need to improve documentation so it's clear to users what units data is in. the hard part about this is that NOAA's docs are quite difficult to navigate and find. but we'll do our best
2. possibly convert data for users. I think i'd rather not do this, but instead make it very clear what units data is in, because not everyone will want data in e.g, degr

[2018-07-24 22:14] sarahgrogan commented on #266
Thanks @sckott! I didn't realize this was a known issue with the data table, and now my data makes much more sense (also, that it's not a bug in the code). Looking back at it, and reading the NOAA documentation more closely, I see that it does state that the stored units are in 1/10 of a degree F. One way you might consider improving the functionality, would be to have ncdc() also return a summary

[2018-07-25 19:49] sckott commented on #266
@sarahgrogan right, we will improve docs. that's a good idea, not sure if possible yet, to show units, which should make it very clear to users they need to convert to whatever units they want,

[2018-07-30 10:13] joeroe opened #267 "ghcn_stations() returns an extra empty row"
The last row in the tibble returned by ``ghcnd_stations()`` consists solely of NAs:

[code]

Obviously this isn't hard to deal with, but it causes a minor annoyance when you want to pass the output straight to base R functions where ``na.rm`` defaults to false, e.g.:

[code]
Or other functions that don't like NAs, e.g.:

[code]

<details> <summary><strong>Session Info</strong></summary>

[code]
</

[2018-07-30 16:49] sckott commented on #267
thanks for this @joeroe ! can replicate with CRAN version and dev version.

will fix

[2018-07-30 17:11] #267 closed

[2018-07-30 17:12] sckott commented on #267
the latest commit should fix it, let me know if not

[2018-08-02 20:30] sckott opened #268 "`ncdc()`: bug in parsing flags"
[code]

[code]

flags shouldn't be `}`/`]`, etc.

[2018-08-03 00:19] sckott commented on #268
nevermind, https://www1.ncdc.noaa.gov/pub/data/cdo/documentation/PRECIP_HLY_documentation.pdf i guess those are legit flags, fun

[2018-08-03 00:19] #268 closed

[2018-08-13 20:03] kgmccann opened #269 "ghcnd_search() stopped pulling data after June 2018"
Not sure if this is isolated to the county I specifically need but following code stops returning rows after 6/30/2018 (not even dates with NAs). I checked [here](https://www.ncdc.noaa.gov/cdo-web/datasets/GHCND/stations/GHCND:US1FLBW0007/detail) just to be sure that the station was still updating and it is, but even if it was offline, I would expect the function to return up to my date_max. Eithe

[2018-08-13 20:09] sckott commented on #269
thanks @kgmccann ! i'll have a look

[2018-08-13 22:56] sckott commented on #269
p.s. when you share session info can you share the output of `sessionInfo()` after `rnoaa` is loaded so i can see what version of `rnoaa` is installed and what version of its dependencies

[2018-08-13 22:59] sckott opened #270 "ghcnd() also has a trailing row of NA's"
similar to #267

[2018-08-13 23:01] sckott commented on #269
is this what you expect:

[code]

does seem like data is returned up to your max date.

[2018-08-13 23:31] #270 closed

[2018-08-14 11:59] kgmccann commented on #269
Thanks, that is what i was looking for. maybe it's my version?

[code]

[2018-08-14 15:33] sckott commented on #269
Can you try installing from github `remotes::install_github("ropensci/rnoaa")` and try again?

[2018-08-14 18:08] kgmccann commented on #269
Still stopping at 06-30.
The only thing I am not showing is how I am setting my token. it's like this:
[code]
And the rest is:
[code]

[2018-08-14 18:46] kgmccann commented on #269
It worked! thanks so much.

 I have a follow-up question:
I am planning on setting this up to run as a automated procedure to periodically update a weather table.  Would you recommend using the clear cache function every time?
Thanks!

[2018-08-14 21:02] sckott commented on #269
At this point yes.

But i will see if i can cache the files including the date so that you then shouldn't have to clear the cache.

[2018-08-15 20:53] jfpeters opened #271 "rnoaa installation"
I am having difficulty installing rnoaa package.  I'm getting the following response (truncated):

<ERROR: dependencies 'crul', 'lubridate', 'XML' are not available for package 'rnoaa'>

I've tried installing the dependency packages above individually, but that doesn't work either,  Any assistance would be appreciated.

Thanks! - James

[code]
</details>

[2018-08-15 20:59] jsta commented on #271
Can you post the output of `sessionInfo()`? It would help to know your R version and OS.

[2018-08-15 23:32] sckott commented on #269
So I think this was the problem:

You requested data for station `US1FLBW0007` at some date X and it was cached on your machine. Then you did a subsequent request (your code at the top of this issue) and it used the cache file, and it had been long enough that the date range you requested wasn't in the cached file (at least some of the dates that is).

The issue is that the same file is downloaded

[2018-08-16 13:16] jfpeters commented on #271
R version 3.2.0 (2015-04-16)
Platform: i386-w64-mingw32/i386 (32-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C                           LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices utils

[2018-08-16 13:49] jfpeters commented on #271
Updating the version of R to 3.5.1. and then reinstalling the 'rnoaa' API did the trick.  Thank you!

Now just have to update my R-ArcGIS bridge installation...

[2018-08-16 15:52] sckott commented on #271
thanks for your question @jfpeters and thanks for the problem solving @jsta !

[2018-08-21 20:04] scoyoc commented on #269
Thanks for this fix. I have been struggling with this same issue for a couple months now. My work computer would only download data through the 1st of the year, but I could download all the data through the current date on my machine at home. Now that I've read through this, it makes sense that clearing the cache fixes the issue.

Thanks again!
MVS

[2018-08-21 20:13] sckott commented on #269
@scoyoc  great, glad this helps

[2018-08-22 22:18] scoyoc opened #272 "Data not pulling from the GHCN ftp"
Yesterday afternoon meteo_pull_monitors() stopped pulling data from GHCND. The function worked all morning, then stopped pulling data. Today, I've been struggling with various ways to download data from GHCND, including meteo_tidy_ghcnd(), ncdc(), requested a new token from NCDC, to no avail.

I just installed the development version of rnoaa from GitHub; still not able to pull the data. It looks

[2018-08-23 00:03] sckott commented on #272
thanks @scoyoc will have a look

[2018-08-23 00:41] sckott commented on #272
not sure why but for some reason the FTP files that are grabbed for `ghcnd()`, which is what's used inside of `meteo_pull_monitors()`, are empty for both of the stations in your example. I can't say why that's happening.  Those stations do show up if I use `ncdc()`

[code]

and the stations are in the list of stations that NOAA maintains:

[code]

[2018-08-23 15:45] scoyoc commented on #272
Thanks for the quick response @sckott.

Well, everything is working fine this morning. Perhaps something was happening on the GHCND FTP site or the DOI network that was restricting my access.

As a side note, I really like the verbose output when downloading the data. Is that new, or did I have that turned off before?

[2018-08-23 19:07] sckott commented on #272
glad its working now. I don't think it was an access problem for you. I think they just had some temporary problems with those files.

that was just added a few commits ago 😸

[2018-10-01 23:31] #271 closed

[2018-10-01 23:32] sckott commented on #265
any thoughts on this @amoeba ?

[2018-10-01 23:32] #272 closed

[2018-10-01 23:33] sckott commented on #262
closing due to inactivity

[2018-10-01 23:33] #262 closed

[2018-10-01 23:43] amoeba commented on #265
Just ones about not having done this yet. Sorry! I don't think I'll be able to get to it that fast, but could definitely get it done by the end of November, if not way earlier.

[2018-10-02 01:54] sckott commented on #256
sorry for the very late response @udayguntupalli - this slipped through my fingers for some reason

`meteo*` functions work with FTP data retrieved through `ghcnd()` function - which means only Daily data

`ncdc` retrieves data from various datasets, including `NORMAL_MLY`

try this:

[code]

[2018-10-02 22:51] sckott commented on #265
okay, thanks

[2018-10-03 16:24] OrionDarley opened #273 "Cannot Retrieve Buoy Data - Error in is.url(url)"
Hello, I am trying to retrieve Buoy data as instructed in [this tutorial](https://ropensci.org/tutorials/rnoaa_tutorial/), however I am getting an error. Below is my script for retrieving data.

First, retrieve NOAA key from .Renviron file

`any(grepl("^\\.Renviron", list.files("~", all.files = TRUE)))
Sys.getenv("noaakey")
options("noaakey" = Sys.getenv("noaakey"))`

Success.

Second, find out wh

[2018-10-03 17:00] sckott commented on #273
please share your `sessionInfo()`

[2018-10-04 17:15] OrionDarley commented on #273
[code]

[2018-10-04 17:15] OrionDarley commented on #273
[code]

[2018-10-04 17:25] OrionDarley opened #274 "RNOAA / SWDI Error: 1: Extra content at the end of the document"
Hi, I am trying to retrieve NOAA data for the severe weather data inventory (swdi), however I get this error often:

[code]

For instance, we'll use the example in the SWDI package help menu, then change the date parameters to get the error.

Start Date 05/06/2006, End Date 05/07/2006
[code]
Result:
[code]

Using the same command, let's change the dates to
Start Date 01/01/2016, End Date 02/01/201

[2018-10-08 15:29] OrionDarley commented on #273
Hi Sckott, thanks for the update. I versioned the one from the github repo as mentioned above. I'm not longer getting the error

`Error in is.url(url) : length(url) == 1 is not TRUE`

But am getting this error instead.

[code]

According to [Buoy 41001's site on NOAA](https://www.ndbc.noaa.gov/station_page.php?station=41001), there should be "cwind" data available for 1990. I've tried 5-6 various

[2018-10-08 22:02] sckott commented on #273
if you look at the link you get from running `buoys(dataset = 'cwind')` for `id=41001` you get  https://dods.ndbc.noaa.gov/thredds/catalog/data/cwind/41001/catalog.html - and they have  `41001c1990.nc`, etc. with only one `c`, not two - so that's why the `buoy()` query with two `c`'s wasn't working

[2018-10-08 22:08] sckott commented on #274
thanks @OrionDarley having a look

[2018-10-08 22:15] sckott opened #275 "move swdi() to use xml2/crul instead of XML/httr"

[2018-10-08 22:49] #275 closed

[2018-10-08 22:50] sckott commented on #274
@OrionDarley do you know if data should exist for that query that failed?

I'm having a hard time now sorting out what date ranges have data.

anyway, pushed a fix, so that the fxn fails better - saying there's no data for the query when that's the case:

[code]

[2018-10-08 22:58] #243 closed

[2018-10-10 18:51] sckott opened #276 "MADIS data"
via @rjbehnke

https://madis.noaa.gov/
https://madis.ncep.noaa.gov/madis_api.shtml

[2018-10-10 18:52] sckott opened #277 "RAWS data (USA climate archive)"
via @rjbehnke

https://raws.dri.edu/

[2018-10-10 18:53] sckott opened #278 "SNOTEL data (snow)"
via @rjbehnke

https://www.wcc.nrcs.usda.gov/snow/

[2018-10-10 20:27] #249 closed, assigned to nobody

[2018-10-11 16:22] ghaines3 opened #279 "trouble retrieving GSOY data w/ ncdc()"
Hi all,
I'm having a bit of trouble getting data from just the GSOY dataset.  I don't think it's a problem with the code I'm using, because it works just fine for the GSOM dataset, but I get an error when I switch the M to a Y.  I'm fairly new to R, so this may be a fairly simple mistake, but any help figuring out what is going on here would be much appreciated.

Here is the code I am using that w

[2018-10-11 17:47] #279 closed

[2018-10-11 17:47] sckott commented on #279
thanks for this @ghaines3

looks like a bug. i just pushed up a change that I think fixes it. reinstall `remotes::install_github("ropensci/rnoaa")` and try again after restarting session

[2018-10-12 00:48] ghaines3 commented on #279
Awesome, thanks very much!

[2018-10-14 00:02] rubenjbehnke opened #280 "ASOS 1 and 5 minute data"
Hi Scott,
    ASOS one and 5 minute data would be an excellent addition to the rnoaa capabilities.

https://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-datasets/automated-surface-observing-system-asos

Ruben Behnke
ruben.behnke@sdstate.edu

P.S.  I'm not trying to give you a ton to do lately, but rnoaa has so much potential!

[2018-10-16 18:19] sckott commented on #280
Thanks @rubenjbehnke - this is great. I'd rather others suggest data sources that they would use rather than me selecting as I don't know what people want the most

[2018-10-17 22:23] rjbehnke opened #281 "'names' attribute [8] must be the same length as the vector [4] error"
I'm parsing the entire ISD data set using isd_parse, and the following errors are occurring for parallel and single core parses for the code following.  I attached two files that this occurs for, but I can send more if you need me to.

Error in checkForRemoteErrors(val) :
  one node produced an error: 'names' attribute [8] must be the same length as the vector [4]

Error in names(object) <- nm :

[2018-10-18 17:20] sckott commented on #281
@rjbehnke what's your session info?

[2018-10-18 23:45] rubenjbehnke commented on #281
R version 3.5.1 (2018-07-02)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C                           LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  g

[2018-10-19 03:14] brooklynbagel commented on #208
Are there still any functions missing tests? I've done some package development and am familiar with `testthat`.

[2018-10-19 11:36] jsta commented on #208
@brooklynbagel I think running `goodpractice::gp()` will tell you where tests are missing.

[2018-10-19 18:34] sckott commented on #208
yep, or `devtools::test()` or similar

[2018-10-19 22:49] sckott commented on #281
@rjbehnke sounds this concerns `isdparser` package, correct?

[2018-10-19 23:11] sckott commented on #281
@rjbehnke pretty sure this is fixed, possibly was fixed in https://github.com/ropensci/isdparser/issues/15 a while back. i tried with two of those files and couldn't reproduce the problem, both worked fine.

can you try the dev version of `isdparser` and see if that works. I'll try to get that pushed to cran soon

[2018-10-19 23:34] rubenjbehnke commented on #281
After installing the dev version, it works.  Thank you.

Ruben

[2018-10-19 23:35] #281 closed

[2018-10-19 23:49] rjbehnke commented on #281
Just to make sure, the files that did parse are parsed correctly, right?  Or do I need to redo all of them?

[2018-10-19 23:58] sckott commented on #281
what do you mean by parsed correctly? There were no errors or anything, but I didn't validate them per se

[2018-10-20 02:15] rubenjbehnke commented on #281
I was referring to the files that parsed for me using the pre-development version of isdparser.  I'm sure they did because there were no errors or anything, but I thought I'd ask in case there are any changes to the isd_parser function.

[2018-10-25 15:52] sckott opened #282 "Storm events"
https://www.ncdc.noaa.gov/stormevents/

[2018-10-25 19:36] sckott commented on #217
this seems sorted now

[2018-10-25 19:36] #217 closed

[2018-10-25 19:39] sckott commented on #251
fixed in e847467c272436c170803acfd2086b8489a56d77 i think

[2018-10-25 19:39] #251 closed

[2018-10-25 22:31] #263 closed

[2018-10-25 22:33] sckott commented on #274
i think this has been addressed

[2018-10-25 22:33] #274 closed

[2018-10-25 22:35] sckott commented on #273
AFAICT this is sorted, fails well I think

[2018-10-25 22:35] #273 closed

[2018-10-25 22:37] sckott commented on #269
AFAICT seems sorted

[2018-10-25 22:37] #269 closed

[2018-10-25 22:53] #257 closed

[2018-10-25 23:00] #238 closed

[2018-10-25 23:00] sckott commented on #238
@kevin-ht-ho  sorry for long wait on this

changed output of `isd_stations_search` back to lat/lon instead of latitude/longitude

[2018-10-25 23:15] sckott commented on #212
@ethankale sorry about long delay on this. trying to get this dialed in. Where did you figure out the parsing for this? Are there docs somewhere i'm not seeing?

[2018-10-25 23:16] sckott commented on #212
I think for now I'll just return the data as is and warn uses they have to parse it, but then next version to CRAN will get the parsing worked out

[2018-10-25 23:20] #212 closed

[2018-10-25 23:21] sckott opened #283 "do parsing of `lcd()` columns that have comma sep. data"
continuing work from #212

[2018-10-25 23:34] sckott commented on #215
@tphilippi sorry about delay on this:

`noaa_compact()` is defined as `function(l) Filter(Negate(is.null), l)` - it's only used to filter out empty/zero length arguments given by the user. So it shouldn't affect the actual inputs themselves.

these don't seem to be a problem anymore - i can't replicate the issue.

your 1st eg returns no data

[code]

your 2nd example returns times with the dates

[2018-10-26 19:55] sckott commented on #282
still need to go through the pdf docs in inst/ignore and add any bits for metadata, and see if need to add units, etc.

[2018-11-16 18:01] sckott opened #284 "vcr-ify tests"
still have some httr in the package, but vcr should work either way

[2018-11-17 20:42] ghaines3 opened #285 "ncdc error when stationid is a vector"
Hi there,

I am having another issue with the ncdc function that I suspect might be a bug.  It's working great for me when I try to get data from an individual station, but when I try to get data from a vector of stations I get a lexical error:

[code]
cd1df here is the output of meteo_nearby_stations() converted to a dataframe in which $id is a column of station IDs

thanks in advance

[2018-11-18 05:16] sckott commented on #285
can I get your session info please? (the output of `sessionInfo()` when rnoaa is loaded)

[2018-11-18 06:17] ghaines3 commented on #285
Oh yes, sorry about that:
[code]

[2018-11-19 20:49] sckott commented on #285
trick here is that `ncdc` functions expect (I think) all stations to be prefixed with GHCND

[code]

[code]

[2018-11-20 04:49] ghaines3 commented on #285
Thanks, that was definitely part of the issue.

I figured out that another issue was that the vector was too long, so if I try to pull data from all the stations in the vector at once I get an error, but I can pull data from a little more than 100 stations at a time, which is kind of annoying but manageable.  If I try to pull too many at once I get a 500 error, and if I try to pull the whole thing

[2018-11-20 06:33] sckott commented on #285
i imagine the 500 error when you pass in all of them is probably that the URL is just too long, which should be a [414 error](https://httpstatuses.com/414), but they may mis-classify it.

is it working well enough now?

[2018-11-20 13:45] ghaines3 commented on #285
Yes it is, thank you.

[2018-11-20 17:08] #285 closed

[2018-11-23 20:23] ghaines3 opened #286 "new meteo_nearby_stations() error"
Hi,
Sorry for all the questions recently, but I have been using this code in the meteo_nearby_stations() function for the past few weeks, and today is the first time it gave me this error.  The only new part I put in is the station_data (all.stations is the output of ghcnd_stations()), but I was getting the error before I added it.  I've played around with this quite a bit, but it always gives me

[2018-11-26 19:00] sckott commented on #286
FULLY REPRODUCIBLE example please. what is `site1` ?

[2018-11-29 04:36] ghaines3 commented on #286
Sorry, site1 is a dataframe of 3 columns for each site that I am requesting nearby stations for: the longitude, latitude, and id number of each site.

[code]

[2018-11-29 19:36] sckott commented on #286
thanks, will have a look

[2018-11-29 20:41] #286 closed

[2018-11-29 20:41] sckott commented on #286
@ghaines3 try again afer reinstalling

[2018-11-30 04:12] ghaines3 commented on #286
That did it!  Thanks very much!

[2018-11-30 22:55] sckott opened #287 "ncdc(): return tibble whether add units or not"

[2018-11-30 22:56] sckott opened #288 "add codemeta keywords to description"

[2018-11-30 23:06] #233 closed

[2018-11-30 23:06] #266 closed

[2018-11-30 23:06] #287 closed

[2018-11-30 23:10] #288 closed

[2018-12-01 00:38] #235 closed

[2018-12-01 00:38] sckott commented on #235
@jonmcalder not sure if you've already given up, but should be working now, tested on rhub windows at least

[2018-12-01 00:43] #256 closed

[2018-12-01 00:48] sckott commented on #203
`utils::untar` problem

[2018-12-01 01:04] #203 closed

[2018-12-01 07:29] sckott commented on #282
good for now

[2018-12-01 07:29] #282 closed

[2018-12-01 17:56] jonmcalder commented on #235
Sorry haven't looked at this for ages - do you need/want me to check it?

[2018-12-01 18:02] sckott commented on #235
If you have time/interest, please do and let me know. I tested on windows Rhub - but haven't checked on other windows environments

[2018-12-01 20:58] jonmcalder commented on #235
Just checked and seems to be fine on my home Windows machine 👍

[2018-12-01 23:29] sckott commented on #235
great, thanks for checking!

[2018-12-01 23:44] sckott opened #290 "see if vcr can handle when requests written to disk"
open issue in vcr https://github.com/ropensci/vcr/issues/81

[2018-12-11 09:42] maelle opened #291 "The README has TWO cranchecks badges"
(and I'm too lazy to make a PR 😉 )

[2018-12-11 15:13] #291 closed

[2018-12-30 20:14] ghaines3 opened #293 "new ncdc() error in v0.8"
Hi Scott,
I'm getting this error from ncdc() with the new version.

[code]
Thanks very much

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-12-30 22:53] brian-may commented on #293
This is probably due to the partial shutdown of the US Government.

https://ncdc.noaa.gov/ redirects to https://governmentshutdown.noaa.gov/

[2018-12-30 23:14] ghaines3 commented on #293
ugh.

That makes sense, thanks.

[2018-12-31 06:43] sckott commented on #293
correct, NOAA web services are down. and they don't fail well so we have a hard time giving users helpful information.

AFAICT NOAA FTP services are all up though

[2018-12-31 17:45] sckott commented on #293
I made a change in the `ncdc()` functions, it should error with a useful message now if you reinstall from here.

[code]

[2019-01-01 17:26] sckott opened #294 "arc egs/tests failing on cran checks"
submit new version asap

[2019-01-03 18:19] sckott opened #295 "some functions not failing nicely with shutdown - fix them before sub"
- `lcd`

[2019-01-03 19:14] #294 closed

[2019-01-03 19:14] #295 closed

[2019-01-03 19:20] sckott commented on #293
govt still down, but better error messagse in place

[2019-01-03 19:20] #293 closed

[2019-01-04 21:28] sckott opened #296 "storm events: maybe switch to fetching from ftp instead of http"
to future proof for future gov't shutdowns.

ftp://ftp.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/

[2019-01-08 22:52] mattplulu opened #297 "ncdc_stations requires charset=UTF-8 ERROR"
When I use the 'ncdc_stations()' function it returns the error:
Error in check_response(temp) :
  x$headers$`content-type` == "application/json;charset=UTF-8" is not TRUE

This happens no matter what parameters are used in the function. Even the example use of the function in the RNOAA package discription PDF returns this error:
ncdc_stations(stationid='COOP:010008')
This was not the case when I r

[2019-01-08 22:59] sckott commented on #297
hi @mattplulu - thanks for opening an issue.

This is because of the government shutdown.

reinstall from github `remotes::install_github("ropensci/rnoaa")`, restart R, then try again, and you should get a nicer error message, let me know if it works.

[2019-01-08 23:00] sckott commented on #297
as for the data you want, most NOAA data thats served via FTP is still available. i should make a table of NOAA data sources in his pkg and where data comes from for each of them

[2019-01-09 00:03] sckott opened #298 "swdi: change kmz and shp options to use crul internally instead of download.file"
So that can we can check response headers to check for shutdown `location` header

[2019-01-09 00:39] #297 closed

[2019-01-09 00:39] #298 closed

[2019-02-26 02:45] sckott opened #300 "`cpc_prcp(..., us=TRUE)` should allow dates back to 1948"
[code]

[2019-02-27 06:12] #300 closed

[2019-02-27 06:14] sckott opened #301 "use markdown docs"

[2019-02-27 15:08] #301 closed

[2019-03-07 21:20] minheeseo opened #302 "Question about retrieving NORMAL_DLY weather data"
Hi, I am trying to retrieve normal temperature data using rnoaa r package, and I have two questions.
1. Following codes return empty lists. Does meteo_nearby_stations() function not work on normal temperature data?
`
dat <- read.table(header = TRUE, sep = ",", text = "
longitude, latitude, id
23.894614, 52.744313,712")`
`
normal_station <- meteo_nearby_stations(dat, lat_colname = "latitude", lon_c

[2019-03-08 06:00] sckott commented on #302
thanks @minheeseo for this

just for reproducible code (it didnt' work for me, and to reduce multiple calls to `ghcnd_search`):

[code]

The `meteo*` functions are only for the dataset GHCND, see the datasets table in the readme https://github.com/ropensci/rnoaa#noaa-ncdc-datasets - and the `var` parameter you used is for parameters, or types of data, not types of datasets.

To get stations for `N

[2019-03-08 14:49] minheeseo commented on #302
@sckott Thank you so much for your help!

[2019-03-08 17:46] sckott commented on #302
does this solve your problem?

[2019-03-08 17:50] minheeseo commented on #302
For the first question. For the second one, I was able to access 1971-2000 Daily Normal data via FTP. Thanks!

[2019-03-08 17:50] #302 closed

[2019-03-20 15:00] pickardpredictives commented on #181
This is a little old, I know; but I get the same error.  I'm creating a learnr tutorial.  I don't see an .rds file in the location specified in the warning message, or in the working directory.

[code]

[code]

[2019-03-20 17:02] sckott commented on #181
@pickardpredictives thanks for the session info, but i don't see the rnoaa version in there

[2019-03-20 21:57] pickardpredictives commented on #181
Sorry, wrong place, huh? Similar error.  I'll post it to learnr.

[2019-03-29 04:32] kjschaudt opened #303 "ADCP2 data download"
Trying to use Rnoaa to obtain the ADCP2 data at the NDBC using the buoy vignette.  For any adcp2 dataset (year and buoy combination), I get the following error.

Using a2010.nc
Error in data.frame(time, lat, lon, stringsAsFactors = FALSE) :
  arguments imply differing number of rows: 15755, 0

Works great for wind.  Any ideas?

Dimensions (rows/cols): [29688 X 5]
2 variables: [wind_dir, wind_spd]

[2019-03-29 18:42] sckott commented on #303
thanks for your question. please share your R session info as requested